<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${15.65 * size}px`"
		:width="`${9.7 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			:transform="
				`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${23.8 *
					size}, ${-16.45 * size})`
			"
		>
			<path
				d="M-14.25 19.0 L-14.1 19.5 -15.1 21.6 -15.4 24.15 -16.2 28.45 Q-17.4 32.85 -20.7 31.95 -23.3 31.25 -23.7 28.25 -23.95 26.4 -23.45 24.7 -22.45 20.85 -19.8 18.35 -17.4 16.05 -15.65 16.55 -15.3 16.65 -15.35 17.0 L-15.0 17.1 -14.7 17.45 -15.1 17.65 -16.05 18.2 Q-18.8 20.0 -19.85 23.95 L-20.15 25.8 -20.2 25.9 Q-20.65 25.1 -20.0 22.65 -19.2 19.7 -18.05 18.35 L-17.55 18.15 -18.45 18.45 -20.3 20.35 Q-21.85 22.25 -22.5 24.65 -22.85 25.9 -22.65 27.5 L-22.45 28.55 Q-22.0 29.95 -20.8 30.3 L-20.2 30.4 Q-17.35 30.7 -16.65 26.05 L-16.1 22.3 -16.0 21.7 -16.0 21.65 Q-15.4 19.85 -14.9 19.2 L-14.7 18.95 -14.5 18.85 -14.3 18.85 -14.3 18.9 -14.25 18.95 -14.25 19.05 -14.25 19.0"
				fill="#9c6565"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-15.1 17.65 L-14.75 17.5 -14.7 17.55 Q-16.2 18.25 -18.3 24.25 L-18.85 27.1 -19.6 28.35 Q-20.55 29.35 -21.85 29.0 L-22.45 28.55 -22.65 27.5 Q-22.85 25.9 -22.5 24.65 -21.85 22.25 -20.3 20.35 L-18.45 18.45 -17.55 18.15 -18.05 18.35 Q-19.2 19.7 -20.0 22.65 -20.65 25.1 -20.2 25.9 L-20.15 25.8 -19.85 23.95 Q-18.8 20.0 -16.05 18.2 L-15.1 17.65"
				fill="#eb5858"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-14.7 17.55 Q-14.35 17.8 -14.25 18.5 L-14.25 18.7 -14.25 18.95 -14.25 19.0 -14.25 18.95 -14.3 18.9 -14.3 18.85 -14.5 18.85 -14.7 18.95 -14.9 19.2 Q-15.4 19.85 -16.0 21.65 L-16.0 21.7 -16.1 22.3 -16.65 26.05 Q-17.35 30.7 -20.2 30.4 L-20.8 30.3 Q-22.0 29.95 -22.45 28.55 L-21.85 29.0 Q-20.55 29.35 -19.6 28.35 L-18.85 27.1 -18.3 24.25 Q-16.2 18.25 -14.7 17.55"
				fill="#a63333"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-14.25 19.0 L-14.25 19.05 -14.25 18.95 -14.25 19.0"
				fill="#f27e7e"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeHeadSpecial2',
	props: {
		size: Number
	}
});
</script>
