<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${3.0 * size}px`"
		:width="`${3.85 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			:transform="
				`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${-5.5 * size}, ${13.2 *
					size})`
			"
		>
			<path
				d="M8.55 -13.2 Q9.3 -13.2 9.35 -12.35 9.35 -11.65 8.65 -11.6 L8.8 -11.2 Q8.8 -10.55 8.2 -10.55 L8.15 -10.55 Q7.45 -11.1 7.5 -11.2 7.5 -11.85 8.15 -11.85 L8.25 -11.85 7.8 -12.3 7.75 -12.4 Q7.75 -13.2 8.55 -13.2 M5.5 -10.95 Q5.5 -11.75 6.35 -11.75 L6.4 -11.75 5.95 -12.2 Q5.95 -12.95 6.7 -12.95 7.35 -12.95 7.35 -12.2 7.35 -11.65 6.9 -11.55 L7.1 -10.95 Q7.1 -10.2 6.3 -10.2 L6.25 -10.2 5.5 -10.95"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeHeadSpecial4',
	props: {
		size: Number
	}
});
</script>
