<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${36.6 * size}px`"
		:width="`${25.55 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			:transform="
				`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${12.7 *
					size}, ${18.45 * size})`
			"
		>
			<path
				d="M-6.7 -16.7 Q-6.55 -16.45 -4.7 -15.65 -2.9 -14.85 0.4 -11.7 3.7 -8.6 4.55 -6.85 L6.8 -1.85 3.85 -2.3 3.25 -2.1 0.9 -2.5 0.85 -2.5 Q0.85 -4.25 -1.8 -8.65 -3.95 -12.2 -5.7 -13.6 L-7.05 -16.3 -7.45 -15.85 -6.7 -16.7 M4.45 -1.2 Q8.45 0.45 9.85 1.7 L10.55 2.55 Q11.3 4.1 11.25 5.35 L11.05 6.3 Q10.4 5.4 8.8 4.55 6.1 3.1 3.25 3.1 -1.65 3.1 -4.65 6.25 -6.8 8.5 -6.8 10.15 L-6.85 10.5 -6.55 10.45 -6.1 10.55 -5.95 10.7 -5.85 10.75 Q-4.95 11.2 -4.6 11.7 L-4.25 12.7 -4.1 13.75 Q-4.25 15.35 -5.1 15.45 L-5.9 16.4 -7.4 17.4 -7.15 17.6 -7.4 17.4 -7.9 18.15 -7.45 17.45 -8.35 18.0 -8.55 18.15 -9.2 17.15 Q-8.25 14.9 -8.25 13.45 L-8.75 12.2 -9.35 10.8 -9.9 9.4 Q-10.8 8.45 -10.95 6.6 L-11.0 2.35 -10.8 2.7 -9.95 2.75 -9.9 2.75 -10.15 3.95 -9.8 5.1 Q-9.2 6.2 -7.75 6.2 L-7.35 6.2 Q-5.55 5.95 -2.1 3.5 L2.55 2.35 3.75 2.0 4.2 1.8 Q4.85 1.4 4.85 0.85 5.0 -0.4 4.45 -1.2"
				:fill="mainThirdColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M3.25 -2.1 L3.85 -2.3 6.8 -1.85 4.55 -6.85 Q3.7 -8.6 0.4 -11.7 -2.9 -14.85 -4.7 -15.65 -6.55 -16.45 -6.7 -16.7 L-6.6 -16.8 -7.7 -18.25 -6.95 -18.45 Q-6.4 -18.55 -1.25 -14.7 3.95 -10.85 6.0 -7.5 8.05 -4.15 8.6 -1.35 L8.65 -1.05 10.3 0.25 Q11.4 1.35 12.0 2.55 13.75 5.9 11.9 7.75 L11.5 8.0 10.75 7.8 Q10.35 6.8 9.3 6.15 7.8 5.1 6.9 4.75 L4.65 4.2 0.45 4.45 Q-2.35 4.9 -4.2 7.15 -6.05 9.35 -5.95 10.2 L-6.1 10.55 -6.55 10.45 -6.85 10.5 -6.8 10.15 Q-6.8 8.5 -4.65 6.25 -1.65 3.1 3.25 3.1 6.1 3.1 8.8 4.55 10.4 5.4 11.05 6.3 L11.25 5.35 Q11.3 4.1 10.55 2.55 L9.85 1.7 Q8.45 0.45 4.45 -1.2 L2.9 -1.8 3.25 -2.1 M-9.95 2.75 L-10.8 2.7 -11.0 2.35 Q-11.9 -2.15 -12.3 -6.9 L-12.7 -9.7 -12.15 -8.9 -10.4 -0.2 Q-10.1 1.25 -9.95 2.75"
				:fill="borderColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-7.45 -15.85 L-7.05 -16.3 -5.7 -13.6 Q-3.95 -12.2 -1.8 -8.65 0.85 -4.25 0.85 -2.5 L0.9 -2.5 3.25 -2.1 2.9 -1.8 4.45 -1.2 Q5.0 -0.4 4.85 0.85 4.85 1.4 4.2 1.8 L3.75 2.0 2.55 2.35 -2.1 3.5 Q-5.55 5.95 -7.35 6.2 L-7.75 6.2 Q-9.2 6.2 -9.8 5.1 L-10.15 3.95 -9.9 2.75 -9.95 2.75 Q-10.1 1.25 -10.4 -0.2 L-12.15 -8.9 -12.15 -9.05 Q-12.15 -9.55 -11.4 -10.75 L-8.55 -14.6 -8.1 -15.15 -7.45 -15.85"
				:fill="`url(#${id}-gradient0)`"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
		<defs>
			<radialGradient
				cx="0"
				cy="0"
				gradientTransform="matrix(0.0383, 0.0, 0.0, 0.0383, -20.65, -13.65)"
				gradientUnits="userSpaceOnUse"
				:id="`${id}-gradient0`"
				r="819.2"
				spreadMethod="pad"
			>
				<stop offset="0.0" stop-color="#ffffff" />
				<stop offset="0.0" :stop-color="mainFirstColor" />
			</radialGradient>
		</defs>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeRightArmSpecial1',
	props: {
		mainFirstColor: String,
		mainSecondColor: String,
		mainThirdColor: String,
		borderColor: String,
		size: Number,
		id: String
	}
});
</script>
