<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${59.3 * size}px`"
		:width="`${22.1 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			:transform="
				`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${11.05 *
					size}, ${29.65 * size})`
			"
		>
			<path
				d="M3.3 17.0 L3.5 6.95 3.15 0.55 Q3.1 -0.15 3.55 0.6 L6.0 7.8 6.05 7.8 6.25 1.05 Q5.95 -0.45 5.8 -2.3 L5.25 -8.3 3.5 -16.3 3.6 -18.4 3.05 -22.35 Q2.2 -26.35 1.6 -26.35 1.05 -26.35 1.05 -25.55 L2.8 -16.4 2.9 -14.45 Q2.75 -10.15 2.55 -11.55 L1.45 -16.7 0.15 -21.3 Q-1.2 -24.7 -4.0 -27.35 L-4.1 -27.3 -5.15 -26.0 Q-5.5 -24.95 -5.5 -23.6 L-5.35 -23.05 -5.55 -23.4 -5.6 -23.5 -7.45 -26.65 -7.4 -26.7 -5.05 -28.3 -4.4 -28.55 -2.95 -28.95 -2.1 -26.7 -1.75 -25.9 -1.75 -25.85 -1.35 -24.95 -0.4 -23.8 -0.15 -23.85 -0.15 -23.9 -0.1 -24.1 -1.15 -26.65 -2.3 -29.0 1.85 -28.45 Q3.5 -28.45 4.65 -27.1 5.8 -25.75 5.8 -23.8 L7.2 -18.4 8.2 -10.95 9.1 4.25 Q9.65 15.75 8.7 21.45 8.7 22.45 7.55 24.7 L6.7 26.3 7.05 21.8 6.65 17.55 6.5 17.55 6.0 22.55 5.4 26.45 4.05 20.35 3.3 17.05 3.3 17.0 M-6.15 -22.1 L-6.5 -21.35 -6.3 -19.05 -6.45 -19.5 -8.25 -23.9 -9.1 -24.95 -8.1 -26.0 -8.05 -26.0 -6.15 -22.1 M5.7 -11.85 L5.7 -11.8 7.2 0.8 7.35 2.25 7.45 2.1 7.5 1.15 7.5 1.1 7.55 -1.55 Q7.55 -6.05 6.7 -10.45 5.5 -16.8 5.1 -20.65 L4.85 -20.25 5.7 -11.95 5.65 -11.95 5.7 -11.85"
				fill="#e0cca3"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M7.05 -25.65 L7.7 -23.8 Q9.15 -18.8 9.9 -9.4 11.05 7.45 11.05 10.45 11.05 15.5 10.05 20.35 8.15 29.65 5.35 29.65 4.55 29.65 1.3 15.15 -2.8 -3.05 -8.45 -19.75 L-8.45 -19.8 -8.6 -20.25 -9.75 -23.55 -9.85 -23.9 -9.95 -24.0 -10.2 -23.9 -10.85 -23.2 -11.05 -23.4 -10.05 -25.05 -9.1 -26.15 -8.9 -26.5 -8.3 -26.8 Q-7.9 -26.95 -8.0 -27.3 -7.5 -27.45 -7.1 -27.95 L-6.4 -28.4 -6.2 -28.75 Q-3.25 -30.0 0.25 -29.55 L5.05 -28.2 6.15 -27.35 6.25 -26.7 Q6.45 -26.15 7.05 -25.65 M3.3 17.0 L3.3 17.05 4.05 20.35 5.4 26.45 6.0 22.55 6.5 17.55 6.65 17.55 7.05 21.8 6.7 26.3 7.55 24.7 Q8.7 22.45 8.7 21.45 9.65 15.75 9.1 4.25 L8.2 -10.95 7.2 -18.4 5.8 -23.8 Q5.8 -25.75 4.65 -27.1 3.5 -28.45 1.85 -28.45 L-2.3 -29.0 -1.15 -26.65 -0.1 -24.1 -0.15 -23.9 -0.15 -23.85 -0.4 -23.8 -1.35 -24.95 -1.75 -25.85 -1.75 -25.9 -2.1 -26.7 -2.95 -28.95 -4.4 -28.55 -5.05 -28.3 -7.4 -26.7 -7.45 -26.65 -5.6 -23.5 -5.55 -23.4 -5.35 -23.05 -2.6 -17.75 Q-2.05 -16.5 -1.0 -12.7 L0.05 -8.55 Q0.05 -7.8 0.8 -5.7 -0.2 -7.5 -1.15 -10.75 L-2.85 -16.0 -6.15 -22.1 -8.05 -26.0 -8.05 -26.05 -8.1 -26.0 -9.1 -24.95 -8.25 -23.9 -6.45 -19.5 -3.4 -9.15 0.35 4.45 3.3 17.0 M5.7 -11.95 L4.85 -20.25 5.1 -20.65 Q5.5 -16.8 6.7 -10.45 7.55 -6.05 7.55 -1.55 L7.5 1.1 7.5 1.15 7.45 2.1 7.35 2.25 7.2 0.8 5.7 -11.8 5.7 -11.85 5.7 -11.95"
				fill="#a36a6a"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-5.35 -23.05 L-5.5 -23.6 Q-5.5 -24.95 -5.15 -26.0 L-4.1 -27.3 -4.0 -27.35 Q-1.2 -24.7 0.15 -21.3 L1.45 -16.7 2.55 -11.55 Q2.75 -10.15 2.9 -14.45 L2.8 -16.4 1.05 -25.55 Q1.05 -26.35 1.6 -26.35 2.2 -26.35 3.05 -22.35 L3.6 -18.4 3.5 -16.3 5.25 -8.3 5.8 -2.3 Q5.95 -0.45 6.25 1.05 L6.05 7.8 6.0 7.8 3.55 0.6 Q3.1 -0.15 3.15 0.55 L3.5 6.95 3.3 17.0 0.35 4.45 -3.4 -9.15 -6.45 -19.5 -6.3 -19.05 -6.5 -21.35 -6.15 -22.1 -2.85 -16.0 -1.15 -10.75 Q-0.2 -7.5 0.8 -5.7 0.05 -7.8 0.05 -8.55 L-1.0 -12.7 Q-2.05 -16.5 -2.6 -17.75 L-5.35 -23.05 M5.7 -11.85 L5.65 -11.95 5.7 -11.95 5.7 -11.85 M-8.05 -26.0 L-8.1 -26.0 -8.05 -26.05 -8.05 -26.0"
				fill="#ffffcc"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeRightArmSpecial4',
	props: {
		mainFirstColor: String,
		mainSecondColor: String,
		mainThirdColor: String,
		size: Number
	}
});
</script>
