<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${9.5 * size}px`"
		:width="`${9.75 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			:transform="
				`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${33.0 *
					size}, ${21.05 * size})`
			"
		>
			<path
				d="M-24.1 -16.35 L-25.0 -16.85 -25.3 -17.0 -29.15 -19.15 -28.85 -18.65 -27.55 -16.9 -27.55 -16.8 -27.6 -16.75 Q-28.05 -16.75 -29.05 -17.95 L-29.9 -18.9 -30.6 -16.35 -30.65 -14.7 -30.85 -13.35 -30.9 -13.1 -30.95 -13.1 -30.95 -13.15 -30.95 -13.25 -31.15 -14.35 Q-31.15 -18.45 -30.6 -19.75 L-30.6 -19.8 Q-31.3 -18.55 -32.15 -13.45 L-32.35 -12.2 -32.45 -11.55 Q-33.0 -11.7 -33.0 -13.45 -32.25 -21.05 -29.95 -21.05 -29.35 -21.05 -26.25 -18.7 L-24.65 -17.5 -24.5 -17.4 -23.25 -16.35 Q-23.25 -16.05 -23.55 -16.05 L-24.1 -16.35"
				fill="#a36a6a"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-24.5 -17.4 L-24.65 -17.5 -24.6 -17.5 -24.5 -17.4 M-32.35 -12.2 L-32.15 -13.45 Q-31.3 -18.55 -30.6 -19.8 L-30.6 -19.75 Q-31.15 -18.45 -31.15 -14.35 L-30.95 -13.25 -31.15 -13.15 -30.95 -13.15 -30.95 -13.1 -30.9 -13.1 -30.85 -13.35 -30.65 -14.7 -30.6 -16.35 -29.9 -18.9 -29.9 -18.85 -27.25 -13.55 -26.55 -13.85 -26.3 -13.5 Q-28.35 -12.1 -31.4 -12.1 L-32.35 -12.2"
				fill="#ffffcc"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-29.9 -18.9 L-29.05 -17.95 Q-28.05 -16.75 -27.6 -16.75 L-27.55 -16.8 -27.55 -16.9 -28.85 -18.65 -29.15 -19.15 -25.3 -17.0 -25.0 -16.85 -24.1 -16.35 Q-24.35 -15.1 -25.8 -13.9 L-26.3 -13.5 -26.55 -13.85 -27.25 -13.55 -29.9 -18.85 -29.9 -18.9"
				fill="#e0cca3"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeRightArmSpecial5',
	props: {
		size: Number
	}
});
</script>
