<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${15.6 * size}px`"
		:width="`${16.65 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			:transform="
				`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${8.8 * size}, ${13.15 *
					size})`
			"
		>
			<path
				d="M4.25 -7.5 L5.4 -7.3 Q7.0 -7.3 6.9 -9.3 L6.9 -9.65 7.3 -8.2 7.2 -6.4 Q6.8 -4.6 5.1 -2.95 L5.3 -3.1 6.0 -3.85 6.45 -4.45 7.4 -6.35 7.6 -4.9 7.45 -2.7 7.85 -0.5 Q7.15 2.45 5.45 2.45 3.65 2.45 0.7 0.95 L-1.2 -0.15 0.4 -0.45 1.35 -0.75 2.8 -1.35 2.7 -1.3 1.05 -0.75 -2.9 -0.4 Q-6.1 -0.5 -7.35 -2.05 -6.35 -1.5 -5.05 -1.5 -3.75 -1.5 -3.75 -2.35 L-3.75 -2.4 -3.0 -2.45 Q-1.05 -2.35 0.75 -3.05 2.7 -3.7 3.6 -5.55 L4.15 -7.1 4.25 -7.5 M4.7 -3.75 L4.7 -3.8 4.7 -3.75"
				:fill="mainSecondColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M4.25 -7.5 L4.15 -7.1 3.6 -5.55 Q2.7 -3.7 0.75 -3.05 -1.05 -2.35 -3.0 -2.45 L-3.75 -2.4 -5.25 -2.85 -6.05 -3.4 Q-6.8 -4.1 -6.7 -4.9 -6.0 -7.55 -3.9 -9.35 -1.6 -11.35 0.5 -11.6 2.25 -11.45 3.6 -10.25 L4.2 -8.7 4.15 -8.7 4.25 -7.8 4.25 -7.5 M-7.35 -2.05 Q-6.1 -0.5 -2.9 -0.4 L1.05 -0.75 2.7 -1.3 2.8 -1.35 1.35 -0.75 0.4 -0.45 -1.2 -0.15 -4.1 0.05 Q-8.8 0.05 -8.8 -4.85 -8.8 -7.75 -6.25 -10.1 -3.9 -12.15 -0.6 -12.9 2.75 -13.6 5.05 -12.45 7.6 -11.15 7.6 -7.95 L7.4 -6.35 6.45 -4.45 6.0 -3.85 5.3 -3.1 5.1 -2.95 Q6.8 -4.6 7.2 -6.4 L7.3 -8.2 6.9 -9.65 Q6.3 -11.15 4.8 -11.85 L4.55 -11.95 -0.6 -12.15 Q-3.65 -11.45 -5.75 -9.55 -8.1 -7.45 -8.1 -4.6 L-8.1 -4.4 -8.1 -4.25 -8.1 -4.15 Q-8.0 -3.05 -7.5 -2.3 L-7.35 -2.1 -7.35 -2.05 M2.45 -10.5 Q1.5 -11.1 0.75 -11.1 -1.15 -10.95 -3.25 -9.45 -5.4 -7.95 -6.25 -4.9 -6.2 -3.75 -4.9 -3.25 L-1.05 -3.0 Q0.65 -3.25 1.85 -4.15 3.0 -5.05 3.5 -6.3 4.55 -9.0 2.45 -10.5"
				:fill="borderColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M6.9 -9.65 L6.9 -9.3 Q7.0 -7.3 5.4 -7.3 L4.25 -7.5 4.25 -7.8 4.15 -8.7 4.2 -8.7 3.6 -10.25 Q2.25 -11.45 0.5 -11.6 -1.6 -11.35 -3.9 -9.35 -6.0 -7.55 -6.7 -4.9 -6.8 -4.1 -6.05 -3.4 L-5.25 -2.85 -3.75 -2.4 -3.75 -2.35 Q-3.75 -1.5 -5.05 -1.5 -6.35 -1.5 -7.35 -2.05 L-7.35 -2.1 -7.5 -2.3 Q-8.0 -3.05 -8.1 -4.15 L-8.1 -4.25 -8.1 -4.4 -8.1 -4.6 Q-8.1 -7.45 -5.75 -9.55 -3.65 -11.45 -0.6 -12.15 L4.55 -11.95 4.8 -11.85 Q6.3 -11.15 6.9 -9.65"
				:fill="`url(#${id}-gradient0)`"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
		<defs>
			<radialGradient
				cx="0"
				cy="0"
				gradientTransform="matrix(0.0215, 0.0, 0.0, 0.0215, -7.05, -14.7)"
				gradientUnits="userSpaceOnUse"
				:id="`${id}-gradient0`"
				r="819.2"
				spreadMethod="pad"
			>
				<stop offset="0.0" stop-color="#ffffff" />
				<stop offset="0.0" :stop-color="mainFirstColor" />
			</radialGradient>
		</defs>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeLeftKnee0',
	props: {
		mainFirstColor: String,
		mainSecondColor: String,
		borderColor: String,
		size: Number,
		id: String
	}
});
</script>
