<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${11.8 * size * 1.2}px`"
		:width="`${10.25 * size * 1.2}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			:transform="
				`matrix(${1.0 * size * 1.2}, 0.0, 0.0, 
				${1.0 * size * 1.2}, ${3.4 * size * 1.2}, ${21.75 * size * 1.2})`
			"
		>
			<path
				d="M-1.8 -19.3 L-1.95 -19.75 -1.95 -20.3 -1.95 -21.0 -1.45 -21.25 0.05 -20.2 1.95 -18.75 Q4.05 -17.05 5.15 -16.6 L5.85 -16.35 6.0 -16.5 6.0 -16.6 6.4 -16.2 Q6.7 -15.9 6.8 -14.75 L6.7 -13.2 5.1 -13.8 3.3 -15.0 3.4 -14.95 4.0 -14.85 4.8 -14.8 5.1 -15.0 3.25 -15.85 Q1.2 -16.75 0.6 -17.2 -0.2 -17.65 -0.9 -18.45 L-1.45 -19.15 -1.85 -19.55 -1.8 -19.3 M-1.05 -12.2 L-1.05 -12.25 -1.0 -12.2 -1.05 -12.2 M-1.4 -13.05 L-2.05 -14.85 Q-2.6 -16.45 -2.85 -18.6 L-2.7 -19.95 -2.35 -21.25 -2.3 -21.25 -2.45 -20.95 -2.45 -20.15 Q-2.35 -19.1 -1.45 -17.7 L-1.5 -17.5 -1.0 -14.75 -0.05 -12.1 -1.4 -13.05"
				fill="#ffffcc"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M6.0 -16.6 L6.0 -16.5 5.85 -16.35 5.15 -16.6 Q4.05 -17.05 1.95 -18.75 L0.05 -20.2 -1.45 -21.25 -1.95 -21.0 -1.95 -20.3 -1.95 -19.75 -1.8 -19.3 -1.75 -19.25 -1.75 -19.2 -1.75 -19.1 -1.6 -18.8 -1.3 -18.2 -1.05 -17.75 -0.8 -17.35 -0.75 -17.25 0.5 -15.45 0.4 -15.35 -0.15 -15.85 -1.4 -17.45 -1.4 -17.5 -1.45 -17.7 Q-2.35 -19.1 -2.45 -20.15 L-2.45 -20.95 -2.3 -21.25 -2.35 -21.25 -2.7 -19.95 -2.85 -18.6 Q-2.6 -16.45 -2.05 -14.85 L-1.4 -13.05 -1.05 -12.25 -1.05 -12.2 -0.7 -11.35 -0.2 -10.6 -0.1 -10.55 0.0 -10.35 0.4 -9.95 Q-0.85 -10.3 -1.25 -11.05 L-1.8 -12.1 -2.1 -12.85 Q-3.1 -15.55 -3.3 -17.5 L-3.35 -19.95 -3.05 -21.4 -1.55 -21.75 1.65 -19.75 Q4.95 -17.3 6.0 -16.6 M4.35 -14.1 L6.55 -13.0 6.55 -12.9 6.4 -12.8 5.9 -12.85 5.25 -13.2 4.6 -13.7 4.3 -14.05 4.35 -14.1 M2.55 -10.1 L2.5 -10.1 2.15 -10.45 2.05 -10.65 1.7 -11.4 1.85 -11.4 2.45 -10.5 2.65 -10.3 2.65 -10.2 2.55 -10.1"
				fill="#a36a6a"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-1.8 -19.3 L-1.85 -19.55 -1.45 -19.15 -0.9 -18.45 Q-0.2 -17.65 0.6 -17.2 1.2 -16.75 3.25 -15.85 L5.1 -15.0 4.8 -14.8 4.0 -14.85 3.4 -14.95 3.3 -15.0 5.1 -13.8 6.7 -13.2 6.6 -12.8 6.15 -12.05 Q5.05 -10.5 2.55 -10.1 L2.65 -10.2 2.65 -10.3 2.45 -10.5 1.85 -11.4 1.7 -11.4 2.05 -10.65 2.15 -10.45 2.5 -10.1 2.55 -10.1 1.95 -10.0 0.45 -10.05 0.3 -10.1 0.0 -10.35 -0.1 -10.55 -0.2 -10.6 -0.7 -11.35 -1.05 -12.2 -1.0 -12.2 -1.05 -12.25 -1.4 -13.05 -0.05 -12.1 -1.0 -14.75 -1.5 -17.5 -1.45 -17.7 -1.4 -17.5 -1.4 -17.45 -0.15 -15.85 0.4 -15.35 0.5 -15.45 -0.75 -17.25 -0.8 -17.35 -1.05 -17.75 -1.3 -18.2 -1.6 -18.8 -1.75 -19.1 -1.75 -19.2 -1.75 -19.25 -1.8 -19.3 M4.35 -14.1 L4.3 -14.05 4.6 -13.7 5.25 -13.2 5.9 -12.85 6.4 -12.8 6.55 -12.9 6.55 -13.0 4.35 -14.1"
				fill="#e0cca3"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeLeftKnee1',
	props: {
		size: Number
	}
});
</script>
