<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${32.05 * size}px`"
		:width="`${21.2 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			:transform="
				`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${15.35 * size}, ${5.0 *
					size})`
			"
		>
			<path
				d="M1.2 -1.5 Q-7.7 6.4 -10.8 8.7 L-10.95 8.55 Q-10.95 7.7 -5.45 3.15 -0.2 -1.15 1.05 -1.7 L1.2 -1.5 M-1.8 -4.8 Q-1.8 -3.6 -9.4 2.6 L-9.4 2.75 -10.75 5.1 -10.5 5.8 Q-12.0 8.0 -12.0 9.95 L-11.5 13.2 -11.8 15.35 -11.45 16.65 -11.6 17.1 -11.7 17.15 Q-12.95 17.15 -13.05 14.35 L-12.6 11.4 -13.0 8.9 Q-12.1 6.2 -12.1 5.75 L-12.5 5.1 -15.2 7.2 -15.35 7.2 Q-13.05 4.25 -2.15 -5.0 -1.8 -4.9 -1.8 -4.8 M-4.1 14.25 Q-4.1 13.6 -1.75 11.75 L0.15 10.4 3.65 7.35 3.7 7.15 Q4.65 5.25 5.25 5.25 5.85 5.25 5.85 5.7 L4.3 9.0 4.35 9.0 4.35 9.3 Q4.35 9.8 3.45 11.3 L3.9 14.1 Q3.9 16.85 2.1 18.8 1.25 19.7 0.85 20.55 L0.6 22.8 0.45 22.85 0.35 22.85 Q0.4 23.5 0.8 24.2 L1.25 26.1 Q1.25 27.05 0.15 27.05 L-0.3 26.7 Q0.45 26.1 0.45 25.45 L-0.35 23.2 -0.25 22.15 Q-0.4 21.4 0.0 19.8 0.0 18.6 -0.9 16.3 L-1.8 13.5 -1.45 12.55 -3.8 14.85 -4.1 14.25 M2.2 10.95 L0.1 11.85 -0.6 13.55 0.15 15.45 Q0.9 17.3 0.9 18.55 L0.9 18.95 1.15 18.55 Q2.6 16.25 2.6 15.45 2.15 13.95 2.15 11.4 L2.2 10.95 M5.4 -0.3 Q1.75 3.65 -8.0 12.15 -4.6 5.85 5.4 -0.3"
				fill="#a61515"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeChestHeavyInjury1',
	props: {
		size: Number
	}
});
</script>
