<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${60.15 * size}px`"
		:width="`${25.8 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			:transform="
				`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${-37.95 *
					size}, ${-5.85 * size})`
			"
		>
			<path
				d="M41.5 13.7 Q42.65 13.65 42.95 18.75 L42.8 19.15 42.4 19.35 42.25 19.3 42.2 19.2 Q40.7 15.6 40.7 14.7 40.7 13.65 41.5 13.7 M43.6 21.5 L43.6 21.75 43.6 21.8 43.45 22.1 43.1 22.15 43.0 22.15 42.9 22.05 42.35 21.3 42.3 21.15 42.3 20.85 42.4 20.7 42.55 20.6 42.7 20.55 42.85 20.5 Q43.55 20.45 43.6 21.45 L43.6 21.5"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M51.6 8.8 Q51.6 10.6 50.2 12.8 L50.1 12.8 50.05 12.25 Q50.05 11.9 50.6 10.35 51.15 8.8 51.4 8.55 L51.6 8.8 M43.65 10.2 L43.35 9.8 Q43.35 8.3 45.45 5.85 L45.75 6.3 Q45.75 7.15 43.85 10.05 L43.65 10.2 M50.6 7.15 L50.65 7.35 Q47.8 15.6 47.45 19.5 L47.35 19.6 46.95 19.25 Q46.95 12.95 50.3 7.05 L50.6 7.15 M45.95 11.45 L45.15 14.5 Q44.65 16.45 44.25 16.45 L43.8 15.95 43.95 14.65 Q43.95 12.9 45.8 9.55 47.55 6.45 48.35 6.0 L48.75 6.35 Q46.6 9.35 45.95 11.45 M48.9 7.7 L46.2 14.1 Q45.75 14.1 45.75 13.65 L46.65 10.5 Q47.7 7.4 48.45 7.4 L48.85 7.5 48.9 7.7 M60.65 27.25 Q63.0 26.2 63.65 26.5 L62.45 28.0 Q63.15 28.45 63.15 29.9 63.15 30.9 63.75 31.95 63.75 32.65 63.15 33.1 63.15 33.5 63.45 33.85 63.45 34.75 62.55 34.95 L62.9 35.85 62.3 36.95 Q61.7 37.65 61.7 38.45 61.7 39.15 61.1 40.25 61.1 40.55 61.65 41.3 61.65 42.05 60.75 43.0 L60.15 44.45 60.8 45.45 Q60.8 48.85 57.45 51.45 58.1 51.7 58.05 52.3 L57.75 53.0 59.65 56.35 Q60.95 58.7 60.95 59.9 60.35 66.0 57.35 66.0 L56.9 65.9 56.85 65.6 Q59.7 61.5 59.7 59.85 L56.4 54.9 Q56.3 56.7 54.75 59.85 53.0 63.45 51.45 63.65 51.3 63.75 51.3 63.35 54.65 59.05 54.65 53.4 54.65 51.95 55.45 51.8 L59.1 47.45 58.25 44.6 60.3 41.3 59.3 40.4 Q60.2 39.3 60.2 38.6 L59.6 37.55 Q59.6 37.0 60.15 36.6 59.25 35.75 59.25 35.25 59.25 34.7 59.6 34.5 L59.6 34.35 Q58.25 34.45 58.25 33.45 58.65 33.05 58.65 32.65 L58.25 32.2 56.1 34.0 Q55.55 33.85 55.55 33.4 55.55 31.45 57.35 29.35 58.25 28.3 60.65 27.25"
				fill="#a51616"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M42.45 33.75 Q41.2 33.75 40.6 35.45 40.2 36.55 40.2 37.45 40.2 37.95 41.05 39.65 42.05 41.7 43.05 41.7 43.75 41.7 44.8 40.15 L45.75 38.3 Q45.75 37.3 44.9 35.7 43.8 33.75 42.45 33.75 M41.6 31.7 L43.9 30.9 Q44.95 30.9 45.15 32.4 45.35 33.2 46.8 33.45 47.15 33.9 47.15 36.15 L47.05 36.45 47.1 36.3 Q47.9 36.3 48.0 37.25 L47.85 38.8 Q47.85 39.4 46.7 41.1 45.45 42.9 44.7 42.9 44.25 42.9 44.05 42.7 42.95 44.4 42.3 44.4 L39.65 42.15 Q39.65 41.7 39.95 41.1 L39.9 40.95 39.05 41.25 Q38.25 41.25 38.05 40.0 L37.95 38.7 38.6 36.35 37.95 35.45 Q37.95 34.65 38.8 33.15 39.75 31.4 40.8 31.4 L41.6 31.7"
				fill="#7e3e8f"
				fill-opacity="0.27058825"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M42.45 33.75 Q43.8 33.75 44.9 35.7 45.75 37.3 45.75 38.3 L44.8 40.15 Q43.75 41.7 43.05 41.7 42.05 41.7 41.05 39.65 40.2 37.95 40.2 37.45 40.2 36.55 40.6 35.45 41.2 33.75 42.45 33.75"
				fill="#7e3e8f"
				fill-opacity="0.49803922"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeRightArmHeavyInjury0',
	props: {
		size: Number
	}
});
</script>
