<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${50.9 * size}px`"
		:width="`${28.45 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			:transform="
				`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${-3.5 *
					size}, ${-3.55 * size})`
			"
		>
			<path
				d="M28.95 20.2 L28.95 20.45 27.65 20.0 26.95 19.75 26.95 19.8 25.5 19.35 Q21.15 18.2 16.4 18.2 L10.4 18.75 10.85 18.1 15.25 17.55 16.4 17.5 Q22.85 17.5 26.75 19.05 L28.05 19.65 28.95 20.2 M28.35 28.05 L28.3 28.6 26.95 28.15 25.8 27.7 25.85 27.7 24.8 27.25 Q21.4 26.15 15.65 26.15 10.3 26.15 6.05 27.15 L6.3 26.4 6.8 26.3 14.45 25.45 Q21.15 25.45 25.6 26.9 27.1 27.4 28.35 28.05 M26.05 37.5 L25.8 38.05 Q16.4 37.9 9.85 36.5 L4.5 35.5 3.95 35.35 4.05 34.65 4.5 34.75 10.3 35.95 10.45 36.0 26.05 37.5 M24.2 47.5 L24.35 48.1 23.9 48.2 23.85 48.25 Q18.5 47.7 12.0 45.7 7.35 44.25 4.5 42.8 L3.55 42.25 3.55 41.35 4.5 41.9 4.65 41.95 5.55 42.4 5.7 42.45 11.15 44.8 Q17.15 47.15 24.2 47.5 M27.9 53.3 L28.55 53.85 29.3 54.4 27.3 54.45 Q22.5 54.35 18.0 53.0 L12.45 51.05 Q9.3 49.6 6.55 47.75 L4.5 46.15 3.8 45.35 3.65 43.8 3.95 44.15 4.5 44.75 6.05 46.1 Q8.5 48.05 11.45 49.4 L15.95 51.15 19.45 52.2 24.0 52.95 27.9 53.3"
				:fill="borderColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M24.1 42.9 L23.95 43.8 17.25 44.35 21.85 44.8 23.9 44.75 Q23.85 46.15 24.2 47.5 17.15 47.15 11.15 44.8 L5.7 42.45 5.55 42.4 4.65 41.95 4.5 41.9 3.55 41.35 3.55 39.35 3.85 39.6 4.5 40.15 5.65 40.8 11.25 42.85 19.5 43.1 24.1 42.9 M24.35 48.1 Q25.25 50.85 27.9 53.3 L24.0 52.95 19.45 52.2 15.95 51.15 11.45 49.4 Q8.5 48.05 6.05 46.1 L4.5 44.75 3.95 44.15 3.65 43.8 3.55 42.25 4.5 42.8 Q7.35 44.25 12.0 45.7 18.5 47.7 23.85 48.25 L23.9 48.2 24.35 48.1"
				:fill="chestThirdColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M18.75 9.6 L24.65 3.85 29.7 3.7 31.95 5.55 Q30.6 9.3 29.85 13.3 L29.15 13.65 25.8 14.3 Q23.9 14.3 21.25 12.15 19.15 10.5 18.75 9.65 L18.75 9.6 M29.85 13.35 L29.8 13.45 29.65 13.45 29.85 13.35 M29.0 19.95 L28.95 20.2 28.05 19.65 26.7 19.0 Q26.75 18.8 27.15 18.8 L28.15 19.5 29.0 19.95 M28.95 20.45 L28.85 21.35 28.15 20.8 26.95 19.8 26.95 19.75 27.65 20.0 28.95 20.45 M28.3 28.6 L28.15 29.45 27.1 28.65 25.85 27.7 25.8 27.7 26.95 28.15 28.3 28.6 M27.6 32.25 L26.05 37.5 10.45 36.0 10.3 35.95 4.5 34.75 4.05 34.65 Q4.25 33.2 4.6 31.8 8.5 34.35 15.55 34.35 24.95 34.35 27.6 32.25 M25.8 38.05 L25.15 39.6 Q24.4 41.3 24.1 42.9 L19.5 43.1 11.25 42.85 5.65 40.8 4.5 40.15 3.85 39.6 3.55 39.35 Q3.65 37.45 3.9 35.6 L3.95 35.35 4.5 35.5 9.85 36.5 Q16.4 37.9 25.8 38.05 M23.95 43.8 L23.9 44.75 21.85 44.8 17.25 44.35 23.95 43.8 M10.45 36.0 L10.5 35.85 10.45 36.0 M25.6 26.9 L25.6 26.85 Q25.75 26.7 26.1 26.7 L28.35 28.05 Q27.1 27.4 25.6 26.9"
				:fill="chestSecondColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M28.05 19.65 L26.75 19.05 26.7 19.0 28.05 19.65 M10.45 36.0 L10.5 35.85 10.45 36.0"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M29.85 13.3 L29.85 13.35 29.65 13.45 29.8 13.45 Q29.4 15.65 29.15 17.9 L29.0 19.95 28.15 19.5 27.15 18.8 Q26.75 18.8 26.7 19.0 L26.75 19.05 Q22.85 17.5 16.4 17.5 L15.25 17.55 10.85 18.1 Q13.95 13.6 18.15 10.05 L18.75 9.6 18.75 9.65 Q19.15 10.5 21.25 12.15 23.9 14.3 25.8 14.3 L29.15 13.65 29.85 13.3 M28.85 21.35 L28.6 25.2 28.35 28.05 26.1 26.7 Q25.75 26.7 25.6 26.85 L25.6 26.9 Q21.15 25.45 14.45 25.45 L6.8 26.3 6.3 26.4 Q7.3 23.95 8.6 21.6 L10.4 18.75 16.4 18.2 Q21.15 18.2 25.5 19.35 L26.95 19.8 28.15 20.8 28.85 21.35 M28.15 29.45 L27.6 32.25 Q24.95 34.35 15.55 34.35 8.5 34.35 4.6 31.8 5.15 29.4 6.05 27.15 10.3 26.15 15.65 26.15 21.4 26.15 24.8 27.25 L25.85 27.7 27.1 28.65 28.15 29.45"
				:fill="`url(#${id}-gradient0)`"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
		<defs>
			<radialGradient
				cx="0"
				cy="0"
				gradientTransform="matrix(0.0215, 0.0, 0.0, 0.0215, 14.4, 18.45)"
				gradientUnits="userSpaceOnUse"
				:id="`${id}-gradient0`"
				r="819.2"
				spreadMethod="pad"
			>
				<stop offset="0.0" stop-color="#ffffff" />
				<stop offset="0.0" :stop-color="chestFirstColor" />
			</radialGradient>
		</defs>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeChest3',
	props: {
		chestFirstColor: String,
		mainFirstColor: String,
		mainSecondColor: String,
		mainThirdColor: String,
		chestSecondColor: String,
		chestThirdColor: String,
		borderColor: String,
		size: Number,
		id: String
	}
});
</script>
