<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${51.55 * size}px`"
		:width="`${40.15 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			:transform="
				`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${16.9 *
					size}, ${23.95 * size})`
			"
		>
			<path
				d="M-14.35 -21.95 L-14.35 -21.9 -14.4 -21.75 -14.4 -21.65 -14.4 -21.6 -14.5 -21.55 -14.55 -21.6 -14.6 -21.6 -16.8 -23.35 -16.85 -23.4 -16.9 -23.45 Q-17.0 -23.85 -16.6 -23.95 -15.9 -24.1 -15.1 -23.1 L-14.35 -21.95 M-13.35 -20.9 L-13.6 -20.3 -13.65 -20.25 -13.7 -20.25 Q-14.1 -20.2 -14.3 -20.7 L-14.3 -20.75 Q-14.45 -21.2 -13.95 -21.4 L-13.9 -21.35 -13.4 -21.05 -13.35 -21.05 -13.3 -21.0 -13.3 -20.95 -13.35 -20.9"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M10.6 15.15 Q12.5 15.6 14.55 16.65 L18.45 18.6 20.9 20.35 21.2 18.6 Q21.0 17.35 20.05 15.7 L20.1 15.8 19.5 14.35 18.8 12.85 16.6 11.15 16.1 10.85 Q18.2 10.7 19.9 12.45 21.9 14.45 22.25 17.35 22.55 20.2 21.5 21.9 L15.1 21.0 Q12.05 20.45 11.25 17.85 10.65 15.95 10.6 15.15 M15.5 11.6 L15.4 11.7 14.55 11.15 14.65 11.1 15.45 11.55 15.5 11.6 M0.5 20.0 L2.25 21.4 3.3 22.75 3.3 22.7 3.5 21.4 Q3.5 19.95 2.9 17.65 L2.25 15.55 2.25 15.35 2.4 15.35 Q3.15 16.05 4.1 18.6 L4.7 20.3 5.05 18.65 Q5.05 16.9 4.35 15.1 3.8 13.65 2.9 12.85 5.8 13.5 6.75 16.45 7.7 19.25 6.65 22.15 5.65 25.0 3.85 26.1 L-1.75 22.3 Q-3.35 21.15 -3.8 19.6 L-3.0 20.5 Q-1.35 22.3 0.0 22.9 L0.15 22.8 -1.45 21.1 Q-2.75 19.95 -2.75 19.4 L-3.25 18.5 -1.8 19.1 -0.4 19.6 Q0.5 20.95 1.35 21.5 L1.55 21.25 0.5 20.0"
				fill="#e0cca3"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M20.1 15.8 L20.05 15.7 Q21.0 17.35 21.2 18.6 L20.9 20.35 18.45 18.6 14.55 16.65 Q12.5 15.6 10.6 15.15 L10.65 14.65 Q11.0 13.8 11.5 13.2 L12.0 12.6 12.2 12.45 12.25 12.35 13.55 11.55 13.7 11.45 Q14.05 11.25 14.55 11.15 L15.4 11.7 15.5 11.6 15.55 11.6 16.35 12.05 17.9 13.1 17.95 13.15 Q18.55 13.75 18.95 14.7 L19.7 16.4 20.1 15.95 20.1 15.9 20.1 15.8 M2.9 12.85 Q3.8 13.65 4.35 15.1 5.05 16.9 5.05 18.65 L4.7 20.3 4.1 18.6 Q3.15 16.05 2.4 15.35 L2.25 15.35 2.25 15.55 2.9 17.65 Q3.5 19.95 3.5 21.4 L3.3 22.7 3.3 22.75 2.25 21.4 0.5 20.0 -0.5 19.1 -0.65 19.2 -0.4 19.6 -1.8 19.1 -3.25 18.5 -3.75 17.7 -3.9 17.5 -3.75 16.75 Q-3.35 14.6 -2.95 14.25 -1.55 13.05 -0.05 12.75 L1.35 12.65 2.4 12.75 2.9 12.85 M17.15 14.8 L17.05 14.8 17.0 14.95 Q17.0 15.5 19.3 18.2 L19.4 18.1 Q19.3 17.45 18.45 16.45 L17.15 14.8"
				fill="#ffffcc"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M10.6 15.15 Q10.65 15.95 11.25 17.85 12.05 20.45 15.1 21.0 L21.5 21.9 Q22.55 20.2 22.25 17.35 21.9 14.45 19.9 12.45 18.2 10.7 16.1 10.85 L16.6 11.15 18.8 12.85 19.5 14.35 20.1 15.8 20.1 15.9 20.1 15.95 19.7 16.4 18.95 14.7 Q18.55 13.75 17.95 13.15 L17.9 13.1 16.35 12.05 15.55 11.6 15.5 11.6 15.45 11.55 14.65 11.1 14.55 11.15 Q14.05 11.25 13.7 11.45 L13.55 11.55 12.25 12.35 12.2 12.45 12.0 12.6 11.5 13.2 Q11.0 13.8 10.65 14.65 L10.6 15.15 M22.85 21.8 L22.3 23.1 Q17.5 22.7 12.85 21.15 10.7 20.4 10.0 18.55 7.7 12.75 14.0 10.25 18.8 8.85 21.55 13.15 24.05 17.15 22.85 21.8 M2.9 12.85 L2.4 12.75 1.35 12.65 -0.05 12.75 Q-1.55 13.05 -2.95 14.25 -3.35 14.6 -3.75 16.75 L-3.9 17.5 -3.75 17.7 -3.25 18.5 -2.75 19.4 Q-2.75 19.95 -1.45 21.1 L0.15 22.8 0.0 22.9 Q-1.35 22.3 -3.0 20.5 L-3.8 19.6 Q-3.35 21.15 -1.75 22.3 L3.85 26.1 Q5.65 25.0 6.65 22.15 7.7 19.25 6.75 16.45 5.8 13.5 2.9 12.85 M-0.4 19.6 L-0.65 19.2 -0.5 19.1 0.5 20.0 1.55 21.25 1.35 21.5 Q0.5 20.95 -0.4 19.6 M17.15 14.8 L18.45 16.45 Q19.3 17.45 19.4 18.1 L19.3 18.2 Q17.0 15.5 17.0 14.95 L17.05 14.8 17.15 14.8 M7.95 17.85 Q8.5 22.8 5.2 26.6 L4.1 27.6 Q-0.25 25.0 -3.9 21.4 -5.55 19.75 -5.4 17.65 -4.9 11.1 2.2 11.7 7.35 12.55 7.95 17.85"
				fill="#a36a6a"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeLeftLegNail0',
	props: {
		mainFirstColor: String,
		mainSecondColor: String,
		mainThirdColor: String,
		size: Number
	}
});
</script>
