<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${17.85 * size}px`"
		:width="`${6.7 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			:transform="
				`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${2.55 * size}, ${8.95 *
					size})`
			"
		>
			<path
				d="M-2.15 -7.8 L-2.1 -8.0 -0.05 -7.1 0.25 -6.95 1.55 -5.75 1.8 -5.5 2.0 -5.2 2.5 -4.45 Q1.75 -1.0 -1.85 -0.7 -1.9 -3.9 -2.25 -5.8 -1.85 -6.9 -2.15 -7.8"
				:fill="`url(#${id}-gradient0)`"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M0.5 8.3 L1.65 6.6 Q2.6 5.2 3.2 2.7 3.8 0.2 3.2 -2.5 L2.5 -4.45 2.0 -5.2 1.8 -5.5 1.55 -5.75 0.25 -6.95 -0.05 -7.1 -2.1 -8.0 -2.15 -7.8 -2.55 -8.95 -2.25 -8.9 -2.1 -8.85 Q0.1 -8.35 1.55 -6.95 3.15 -5.05 3.75 -2.8 4.5 -0.15 3.85 2.75 3.0 6.4 0.55 8.9 L0.5 8.3"
				:fill="borderColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M2.5 -4.45 L3.2 -2.5 Q3.8 0.2 3.2 2.7 2.6 5.2 1.65 6.6 L0.5 8.3 0.55 7.3 Q0.7 4.25 -0.35 1.5 L-1.1 0.4 -1.85 -0.45 -1.85 -0.7 Q1.75 -1.0 2.5 -4.45"
				:fill="mainSecondColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
		<defs>
			<radialGradient
				cx="0"
				cy="0"
				gradientTransform="matrix(0.0123, 0.0018, -7.0E-4, 0.0048, 7.8, 2.0)"
				gradientUnits="userSpaceOnUse"
				:id="`${id}-gradient0`"
				r="819.2"
				spreadMethod="pad"
			>
				<stop offset="0.0" stop-color="#ffffff" />
				<stop offset="0.0" :stop-color="mainFirstColor" />
			</radialGradient>
		</defs>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeHair11',
	props: {
		mainFirstColor: String,
		mainSecondColor: String,
		mainThirdColor: String,
		borderColor: String,
		size: Number,
		id: String
	}
});
</script>
