<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${32.3 * size}px`"
		:width="`${36.9 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			:transform="
				`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${18.45 *
					size}, ${16.15 * size})`
			"
		>
			<path
				d="M-5.0 -1.5 L-4.7 -2.7 -4.45 -3.7 -4.25 -4.8 -4.15 -5.8 -4.05 -6.9 -4.05 -7.9 -4.1 -9.0 -4.2 -10.1 -4.45 -11.2 -4.65 -12.2 Q-5.05 -13.5 -5.75 -14.7 L-3.8 -15.05 -2.95 -15.1 Q-2.25 -15.1 -1.15 -13.35 L-0.1 -11.5 0.05 -11.6 -0.1 -14.0 Q-0.2 -15.45 2.4 -15.7 L2.45 -15.7 2.5 -15.65 2.5 -15.6 2.6 -13.65 Q3.3 -14.95 3.95 -14.95 6.4 -14.95 8.45 -14.2 L8.5 -14.15 8.55 -14.15 11.3 -12.1 Q13.5 -10.5 13.9 -9.7 15.65 -5.8 16.35 -4.85 L16.7 -3.65 16.7 -3.6 16.65 -3.55 16.6 -3.55 Q15.95 -3.5 15.9 -3.0 L16.3 -2.6 16.8 -2.9 16.85 -2.95 16.9 -2.9 16.95 -2.85 17.7 0.95 Q17.7 2.7 17.25 3.8 16.1 6.4 14.55 6.3 L14.55 6.35 14.6 6.4 15.7 6.65 15.75 6.7 15.75 6.75 15.75 6.8 15.1 7.95 13.55 10.9 Q12.8 12.45 12.75 14.7 L12.75 15.7 12.6 15.7 Q11.2 15.7 9.05 12.35 9.05 11.5 9.8 9.6 10.55 7.7 10.55 5.35 10.55 2.95 9.35 1.25 L8.8 0.1 Q8.55 -0.5 7.65 -0.75 5.25 -1.55 3.85 -1.55 L-2.5 -1.7 -5.0 -1.5 M2.1 -9.0 L1.9 -8.45 Q1.9 -7.6 2.35 -6.65 L2.45 -6.2 Q2.45 -4.6 2.8 -4.0 L3.05 -4.4 Q2.95 -7.5 2.35 -7.7 L2.1 -9.0 M7.25 -6.4 L7.25 -6.5 7.45 -7.25 7.4 -7.8 Q6.5 -6.9 6.45 -5.9 L6.55 -5.8 6.3 -5.35 5.8 -3.95 5.9 -3.75 Q6.35 -3.9 6.85 -5.0 L7.25 -6.4 M13.05 15.65 L13.15 15.0 13.3 15.15 13.05 15.65"
				:fill="hairFirstColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M12.75 15.7 L12.75 14.7 Q12.8 12.45 13.55 10.9 L15.1 7.95 15.75 6.8 15.75 6.75 15.75 6.7 15.7 6.65 14.6 6.4 14.55 6.35 14.55 6.3 Q16.1 6.4 17.25 3.8 17.7 2.7 17.7 0.95 L16.95 -2.85 16.9 -2.9 16.85 -2.95 16.8 -2.9 16.3 -2.6 15.9 -3.0 Q15.95 -3.5 16.6 -3.55 L16.65 -3.55 16.7 -3.6 16.7 -3.65 16.35 -4.85 Q15.65 -5.8 13.9 -9.7 13.5 -10.5 11.3 -12.1 L8.55 -14.15 8.5 -14.15 8.45 -14.2 Q6.4 -14.95 3.95 -14.95 3.3 -14.95 2.6 -13.65 L2.5 -15.6 2.5 -15.65 2.45 -15.7 2.4 -15.7 Q-0.2 -15.45 -0.1 -14.0 L0.05 -11.6 -0.1 -11.5 -1.15 -13.35 Q-2.25 -15.1 -2.95 -15.1 L-3.8 -15.05 -5.75 -14.7 Q-5.05 -13.5 -4.65 -12.2 L-4.45 -11.2 -4.2 -10.1 -4.1 -9.0 -4.05 -7.9 -4.05 -6.9 -4.15 -5.8 -4.25 -4.8 -4.45 -3.7 -4.7 -2.7 -5.0 -1.5 -5.55 -1.2 -5.7 -1.15 -5.45 -2.3 -5.15 -3.4 -5.0 -4.5 -4.85 -5.65 -4.7 -6.7 -4.65 -7.8 -4.7 -8.85 -4.85 -10.0 -5.0 -11.1 -5.25 -12.2 -6.25 -14.6 -7.5 -14.25 -9.15 -13.7 -9.25 -13.65 -9.25 -13.6 -9.2 -13.55 Q-8.65 -13.2 -8.3 -12.2 L-7.8 -10.45 -9.0 -12.2 -10.65 -13.45 -10.7 -13.5 -10.75 -13.5 -12.75 -12.35 -12.8 -12.35 -12.8 -12.25 -12.75 -12.2 -11.9 -11.15 -10.8 -10.0 Q-10.5 -9.6 -10.9 -9.45 L-11.4 -9.65 -11.8 -9.9 -12.35 -10.3 -13.35 -10.9 Q-14.35 -11.55 -15.35 -10.9 L-17.3 -9.7 -17.5 -9.6 -17.45 -9.55 -16.55 -9.55 -15.05 -9.15 -13.55 -8.5 -13.45 -8.45 -12.05 -7.4 -10.6 -5.9 Q-9.15 -3.95 -8.35 -1.65 L-8.25 -0.85 -8.25 -0.05 Q-8.65 -0.4 -8.85 -1.15 -9.45 -3.4 -10.95 -5.2 -12.35 -6.95 -14.35 -8.05 L-14.5 -8.15 Q-16.3 -9.05 -18.45 -9.35 L-18.05 -9.85 Q-16.4 -11.5 -14.2 -11.85 L-12.55 -11.25 -12.6 -11.35 -13.25 -12.2 -13.4 -12.35 -11.9 -13.3 -10.15 -14.0 -10.05 -13.95 -10.0 -13.95 -7.55 -14.75 -3.85 -15.7 -2.9 -15.8 Q-1.9 -15.8 -1.3 -14.65 L-0.6 -13.15 -0.55 -13.1 -0.5 -13.1 -0.45 -13.15 Q-0.35 -13.85 -0.8 -15.25 -0.65 -16.15 2.1 -16.15 L2.85 -16.15 2.9 -15.05 2.95 -14.95 3.0 -14.9 3.05 -14.9 3.1 -14.9 Q4.05 -15.65 4.7 -15.65 6.8 -15.65 8.75 -14.75 L8.8 -14.7 8.85 -14.7 9.15 -14.5 11.75 -12.75 Q13.9 -11.0 14.45 -10.15 L16.9 -5.25 16.9 -5.1 Q18.45 -1.75 18.45 0.95 18.45 3.75 16.65 6.6 L16.6 6.65 16.4 7.55 Q13.6 11.25 13.0 15.75 L12.75 16.15 12.75 15.7 M7.25 -6.4 L6.85 -5.0 Q6.35 -3.9 5.9 -3.75 L5.8 -3.95 6.3 -5.35 6.55 -5.8 6.45 -5.9 Q6.5 -6.9 7.4 -7.8 L7.45 -7.25 7.25 -6.5 7.25 -6.4 M2.1 -9.0 L2.35 -7.7 Q2.95 -7.5 3.05 -4.4 L2.8 -4.0 Q2.45 -4.6 2.45 -6.2 L2.35 -6.65 Q1.9 -7.6 1.9 -8.45 L2.1 -9.0 M-7.05 -0.45 L-7.05 -0.65 -6.8 -2.4 -6.55 -6.0 -6.3 -5.35 -6.0 -3.6 -6.0 -2.4 -6.3 -0.65 -6.5 -0.35 Q-6.95 0.0 -7.05 -0.45"
				:fill="hairBorderColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-8.25 -0.05 L-8.25 -0.85 -8.35 -1.65 Q-9.15 -3.95 -10.6 -5.9 L-12.05 -7.4 -13.45 -8.45 -13.55 -8.5 -15.05 -9.15 -16.55 -9.55 -17.45 -9.55 -17.5 -9.6 -17.3 -9.7 -15.35 -10.9 Q-14.35 -11.55 -13.35 -10.9 L-12.35 -10.3 -11.8 -9.9 -11.4 -9.65 -10.9 -9.45 Q-10.5 -9.6 -10.8 -10.0 L-11.9 -11.15 -12.75 -12.2 -12.8 -12.25 -12.8 -12.35 -12.75 -12.35 -10.75 -13.5 -10.7 -13.5 -10.65 -13.45 -9.0 -12.2 -7.8 -10.45 -8.3 -12.2 Q-8.65 -13.2 -9.2 -13.55 L-9.25 -13.6 -9.25 -13.65 -9.15 -13.7 -7.5 -14.25 -6.25 -14.6 -5.25 -12.2 -5.0 -11.1 -4.85 -10.0 -4.7 -8.85 -4.65 -7.8 -4.7 -6.7 -4.85 -5.65 -5.0 -4.5 -5.15 -3.4 -5.45 -2.3 -5.7 -1.15 -6.3 -0.65 -6.0 -2.4 -6.0 -3.6 -6.3 -5.35 -6.55 -6.0 -6.8 -2.4 -7.05 -0.65 -7.05 -0.45 -8.25 -0.05"
				:fill="`url(#${id}-gradient0)`"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
		<defs>
			<radialGradient
				cx="0"
				cy="0"
				gradientTransform="matrix(0.0087, 0.0012, -0.0012, 0.0082, -7.8, -2.8)"
				gradientUnits="userSpaceOnUse"
				:id="`${id}-gradient0`"
				r="819.2"
				spreadMethod="pad"
			>
				<stop offset="0.0" stop-color="#ffffff" />
				<stop offset="0.0" :stop-color="hairFirstColor" />
			</radialGradient>
		</defs>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeHair3',
	props: {
		size: Number,
		id: String,
		hairFirstColor: String,
		hairBorderColor: String
	}
});
</script>
