<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${13.55 * size}px`"
		:width="`${22.05 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			:transform="
				`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${6.3 * size}, ${6.75 *
					size})`
			"
		>
			<path
				d="M5.2 5.85 Q3.75 5.3 2.75 3.1 2.3 2.25 2.65 -0.15 L2.7 -0.4 2.7 -0.5 2.85 -0.65 3.55 -1.1 5.2 -1.9 7.15 -2.7 Q11.7 -4.25 13.95 -3.95 16.1 -3.7 15.7 -2.7 11.65 3.9 9.3 5.95 L8.3 6.65 7.45 6.8 7.3 6.65 7.25 6.65 5.7 6.15 5.65 6.15 5.6 6.1 5.75 6.1 6.6 6.35 7.25 6.35 7.55 6.15 Q7.7 6.05 7.8 6.0 10.1 4.35 11.75 1.95 L13.7 -0.9 14.75 -2.4 15.05 -2.8 15.0 -2.9 14.3 -2.45 13.6 -2.25 11.3 -1.65 10.3 -0.95 10.25 -0.95 10.2 -0.9 8.6 -0.05 8.1 0.1 8.1 0.15 7.95 0.2 7.9 0.15 Q8.5 -0.55 10.85 -1.9 11.7 -2.4 14.15 -3.25 L13.8 -3.3 Q11.15 -3.65 7.55 -2.05 L5.4 -1.35 4.25 -0.75 3.55 -0.45 3.1 -0.2 3.0 1.1 2.95 1.7 2.95 2.5 2.9 2.9 2.9 2.95 3.25 3.55 Q4.65 6.0 6.0 5.95 L6.15 5.95 5.8 6.0 5.2 5.85 M9.7 2.3 Q8.25 5.15 7.35 5.05 L7.2 5.0 7.2 4.85 8.7 3.55 9.1 2.8 Q9.3 2.35 9.7 2.3 M-0.85 -0.25 L-0.9 -0.15 -1.1 -0.2 -1.2 -1.05 -1.15 -2.45 Q-1.05 -4.45 -1.8 -5.85 L-2.2 -4.85 -2.3 -4.6 -3.8 -3.45 -3.9 -3.4 -2.6 -5.4 -3.15 -4.95 Q-3.95 -4.35 -5.3 -1.7 L-5.5 -1.3 -6.05 -1.3 -6.3 -1.3 Q-5.85 -3.3 -3.3 -5.75 -1.9 -7.1 -1.45 -6.65 -0.35 -5.5 -0.35 -2.9 -0.4 -0.65 -0.8 -0.25 L-0.85 -0.25 M-1.6 -3.3 L-2.0 -0.4 -2.15 -0.45 Q-2.65 -1.0 -1.65 -3.3 L-1.6 -3.3"
				fill="#a36a6a"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M3.25 3.55 L2.9 2.95 2.9 2.9 2.95 2.5 Q5.45 1.35 5.5 0.95 L5.45 0.8 2.95 1.7 3.0 1.1 3.1 -0.2 3.55 -0.45 4.25 -0.75 5.4 -1.35 7.55 -2.05 Q11.15 -3.65 13.8 -3.3 L14.15 -3.25 Q11.7 -2.4 10.85 -1.9 8.5 -0.55 7.9 0.15 L7.95 0.2 8.1 0.15 3.25 3.55 M10.25 -0.95 L10.3 -0.95 11.3 -1.65 13.6 -2.25 14.3 -2.45 12.05 -0.7 Q9.45 1.2 7.9 1.9 8.8 0.4 10.25 -0.95 M7.65 1.4 L7.6 1.45 7.6 1.4 7.65 1.4 M-2.2 -4.85 Q-2.85 -1.95 -3.7 -0.6 -4.0 -0.9 -3.9 -2.15 -4.1 -2.35 -4.35 -2.15 L-4.7 -0.9 -5.15 -0.8 -5.2 -0.25 -5.4 -0.1 Q-6.0 -0.75 -6.05 -1.3 L-5.5 -1.3 -5.3 -1.7 Q-3.95 -4.35 -3.15 -4.95 L-2.6 -5.4 -3.9 -3.4 -3.8 -3.45 -2.3 -4.6 -2.2 -4.85"
				fill="#ffffcc"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M5.2 5.85 L5.8 6.0 6.15 5.95 6.0 5.95 Q4.65 6.0 3.25 3.55 L8.1 0.15 8.1 0.1 8.6 -0.05 10.2 -0.9 10.25 -0.95 Q8.8 0.4 7.9 1.9 9.45 1.2 12.05 -0.7 L14.3 -2.45 15.0 -2.9 15.05 -2.8 14.75 -2.4 13.7 -0.9 11.75 1.95 Q10.1 4.35 7.8 6.0 7.7 6.05 7.55 6.15 L7.25 6.35 6.6 6.35 5.75 6.1 5.6 6.1 5.2 5.85 M2.95 2.5 L2.95 1.7 5.45 0.8 5.5 0.95 Q5.45 1.35 2.95 2.5 M5.7 6.15 L7.25 6.65 7.15 6.65 5.7 6.15 M7.65 1.4 L7.6 1.4 7.6 1.45 7.65 1.4 M9.7 2.3 Q9.3 2.35 9.1 2.8 L8.7 3.55 7.2 4.85 7.2 5.0 7.35 5.05 Q8.25 5.15 9.7 2.3 M-5.4 -0.1 L-5.2 -0.25 -5.15 -0.8 -4.7 -0.9 -4.35 -2.15 Q-4.1 -2.35 -3.9 -2.15 -4.0 -0.9 -3.7 -0.6 -2.85 -1.95 -2.2 -4.85 L-1.8 -5.85 Q-1.05 -4.45 -1.15 -2.45 L-1.2 -1.05 -1.1 -0.2 -0.9 -0.15 -0.85 -0.25 -0.9 -0.1 -1.35 0.4 Q-3.2 2.15 -5.35 -0.1 L-5.4 -0.1 M-1.6 -3.3 L-1.65 -3.3 Q-2.65 -1.0 -2.15 -0.45 L-2.0 -0.4 -1.6 -3.3"
				fill="#e0cca3"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeHair4',
	props: {
		size: Number
	}
});
</script>
