<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${22.4 * size}px`"
		:width="`${17.95 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			:transform="
				`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${16.05 *
					size}, ${20.5 * size})`
			"
		>
			<path
				d="M-11.4 -12.35 Q-12.9 -14.3 -15.1 -19.75 L-15.25 -19.45 -15.35 -18.9 -14.7 -14.6 -14.55 -13.15 -13.9 -8.65 -13.15 -5.45 -12.5 -3.7 -11.2 -0.75 -10.75 -0.05 -9.05 1.65 -9.3 1.85 Q-9.9 2.05 -10.7 1.25 -11.95 -0.15 -12.6 -1.9 L-13.3 -3.7 -13.75 -5.1 -14.75 -8.9 -15.55 -14.05 -16.05 -18.6 Q-16.05 -20.7 -14.7 -20.5 -13.4 -20.3 -10.8 -17.75 L-6.45 -13.85 Q-4.7 -12.45 -1.5 -10.35 L-0.65 -9.95 0.65 -9.3 0.75 -9.15 Q1.9 -8.75 1.9 -7.8 L-0.15 -8.9 -1.25 -9.45 -1.75 -9.75 -2.2 -10.0 Q-5.0 -11.45 -7.05 -13.45 L-10.65 -16.65 -12.7 -18.45 -13.7 -19.55 -12.85 -17.3 -12.35 -15.5 -12.35 -15.45 -12.3 -15.35 -11.45 -12.75 -11.25 -12.3 -11.3 -12.25 -11.4 -12.35 M-10.6 -2.9 L-10.6 -2.95 -10.85 -3.3 -11.1 -3.7 -12.45 -6.4 -12.3 -6.45 -11.9 -5.9 -10.3 -3.7 -8.65 -1.35 -7.6 -0.2 -7.4 0.05 -7.75 0.0 -9.2 -1.0 -10.45 -2.7 -10.6 -2.9 M-6.75 -9.05 L-2.6 -5.45 -1.85 -4.75 -1.3 -4.4 -0.5 -3.9 Q-0.5 -3.65 -0.75 -3.65 -0.9 -3.65 -2.05 -4.3 L-2.55 -4.6 -3.45 -5.1 Q-4.95 -5.95 -7.2 -8.9 L-8.2 -10.25 -8.15 -10.25 -6.75 -9.05"
				fill="#a36a6a"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-9.3 1.85 L-9.05 1.65 -10.75 -0.05 -11.2 -0.75 -12.5 -3.7 -13.15 -5.45 -13.9 -8.65 -14.55 -13.15 -14.7 -14.6 -15.35 -18.9 -15.25 -19.45 -15.1 -19.75 Q-12.9 -14.3 -11.4 -12.35 -10.25 -8.3 -9.05 -6.65 L-13.5 -10.25 -11.9 -5.9 -12.3 -6.45 -12.45 -6.4 -11.1 -3.7 -10.85 -3.3 -10.6 -2.95 -10.6 -2.9 -8.5 1.65 -8.8 1.75 -9.15 1.85 -9.3 1.85 M-11.45 -12.75 L-12.3 -15.35 -12.35 -15.45 -12.35 -15.5 -12.85 -17.3 -13.7 -19.55 -12.7 -18.45 -10.65 -16.65 -7.05 -13.45 Q-5.0 -11.45 -2.2 -10.0 L-1.75 -9.75 -1.25 -9.45 -0.15 -8.9 -2.7 -9.1 Q-4.95 -9.4 -7.7 -10.75 L-6.95 -9.4 -6.75 -9.05 -8.15 -10.25 -8.2 -10.25 -7.2 -8.9 -7.25 -8.9 Q-8.4 -9.5 -9.8 -10.85 L-11.3 -12.45 -11.45 -12.75 M-10.45 -8.6 L-10.5 -8.6 -10.45 -8.6"
				fill="#ffffcc"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-11.4 -12.35 L-11.3 -12.25 -11.25 -12.3 -11.45 -12.75 -11.3 -12.45 -9.8 -10.85 Q-8.4 -9.5 -7.25 -8.9 L-7.2 -8.9 Q-4.95 -5.95 -3.45 -5.1 L-2.55 -4.6 -2.05 -4.3 Q-0.9 -3.65 -0.75 -3.65 -0.5 -3.65 -0.5 -3.9 L-1.3 -4.4 -1.85 -4.75 -2.6 -5.45 -6.75 -9.05 -6.95 -9.4 -7.7 -10.75 Q-4.95 -9.4 -2.7 -9.1 L-0.15 -8.9 1.9 -7.8 1.8 -6.95 1.3 -5.05 0.2 -2.8 -0.45 -1.7 -0.45 -1.65 -0.55 -1.3 -1.1 -0.9 Q-1.65 -0.5 -4.1 0.3 L-8.8 1.75 -8.5 1.65 -10.6 -2.9 -10.45 -2.7 -9.2 -1.0 -7.75 0.0 -7.4 0.05 -7.6 -0.2 -8.65 -1.35 -10.3 -3.7 -11.9 -5.9 -13.5 -10.25 -9.05 -6.65 Q-10.25 -8.3 -11.4 -12.35 M-10.45 -8.6 L-10.5 -8.6 -10.45 -8.6"
				fill="#e0cca3"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeHair5',
	props: {
		size: Number
	}
});
</script>
