<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${9.35 * size}px`"
		:width="`${7.5 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			:transform="
				`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${-7.95 *
					size}, ${13.4 * size})`
			"
		>
			<path
				d="M8.15 -4.95 L7.95 -5.3 9.25 -6.25 Q10.05 -6.75 10.1 -7.5 L10.2 -10.05 Q10.2 -10.4 11.9 -11.85 L14.1 -13.4 Q15.05 -12.55 15.05 -11.35 13.95 -10.25 13.95 -9.5 14.6 -9.05 14.25 -7.95 15.05 -7.8 15.45 -6.9 15.0 -5.8 13.45 -4.85 12.1 -4.05 11.15 -4.05 10.7 -4.05 9.95 -4.55 9.2 -5.0 8.15 -4.95"
				fill="#a61515"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeLeftLegHeavyInjury0',
	props: {
		size: Number
	}
});
</script>
