<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${5.75 * size}px`"
		:width="`${14.1 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			:transform="
				`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${9.6 * size}, ${2.45 *
					size})`
			"
		>
			<path
				d="M3.45 -1.8 L4.2 -0.85 4.5 0.3 Q4.65 1.1 3.7 2.2 2.75 3.25 1.65 3.3 0.55 3.3 -0.2 2.55 L-0.95 1.5 -1.3 -0.25 -1.05 -1.15 Q-0.7 -1.7 -0.1 -1.7 1.05 -2.55 1.6 -2.45 L3.45 -1.8 M2.45 1.65 Q2.95 1.25 2.95 0.85 2.95 0.2 2.3 0.55 L1.3 1.05 Q0.75 1.05 0.35 0.65 -0.1 0.65 -0.1 1.15 L0.1 1.7 Q0.4 2.1 1.0 2.1 L2.45 1.65 M-7.4 2.6 Q-7.95 3.2 -8.65 3.2 -9.65 3.2 -9.6 1.8 -9.6 0.05 -8.25 0.3 -6.95 0.6 -6.95 1.8 L-7.4 2.6 M-8.6 2.6 Q-7.6 2.6 -7.6 1.85 -7.6 1.25 -8.0 1.5 L-8.5 1.85 -8.8 1.75 Q-9.15 1.75 -9.15 2.25 -9.15 2.6 -8.6 2.6"
				fill="#330099"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M2.45 1.65 L1.0 2.1 Q0.4 2.1 0.1 1.7 L-0.1 1.15 Q-0.1 0.65 0.35 0.65 0.75 1.05 1.3 1.05 L2.3 0.55 Q2.95 0.2 2.95 0.85 2.95 1.25 2.45 1.65 M-8.6 2.6 Q-9.15 2.6 -9.15 2.25 -9.15 1.75 -8.8 1.75 L-8.5 1.85 -8.0 1.5 Q-7.6 1.25 -7.6 1.85 -7.6 2.6 -8.6 2.6"
				fill="#66ffff"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M0.55 -0.9 Q1.45 -0.75 1.45 0.0 1.45 0.55 0.65 0.55 0.25 0.55 -0.1 0.25 L-0.35 -0.15 Q-0.35 -1.0 0.55 -0.9 M-8.25 1.55 L-8.65 1.8 -9.1 1.35 Q-9.1 0.95 -8.55 0.75 -8.05 0.55 -8.05 1.15 L-8.25 1.55"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeEye15',
	props: {
		size: Number
	}
});
</script>
