<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${4.85 * size}px`"
		:width="`${15.15 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g :transform="`$matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, 0.0, 0.0)`">
			<path
				d="M8.65 3.8 Q8.75 4.4 10.2 4.4 13.75 4.4 13.75 2.75 13.75 2.15 13.25 2.15 12.1 3.3 10.4 3.3 L10.95 2.65 Q10.95 1.75 9.55 1.75 8.0 1.75 8.0 3.0 L8.15 3.45 8.65 3.8 M14.45 1.2 Q15.15 2.1 15.15 2.8 15.15 3.15 14.55 3.9 L13.9 4.35 13.65 4.55 12.55 4.8 12.0 4.85 11.45 4.85 11.05 4.85 10.6 4.85 Q7.05 4.7 6.85 2.45 L6.85 2.2 6.9 1.95 8.0 1.3 8.9 0.8 9.7 0.4 9.8 0.4 10.2 0.25 10.25 0.2 10.6 0.1 10.7 0.1 10.75 0.05 10.85 0.05 10.9 0.0 11.15 0.0 12.65 0.1 13.25 0.3 14.25 0.95 14.45 1.2 M0.75 3.5 Q0.5 3.55 0.5 3.75 0.4 4.3 1.15 4.3 2.5 4.3 2.5 3.75 L2.25 3.45 Q2.2 2.9 1.3 2.9 0.7 2.9 0.7 3.35 L0.75 3.5 M0.05 3.85 L0.0 3.55 Q0.0 2.25 1.35 2.25 L3.2 2.5 2.95 3.25 2.6 4.5 Q2.25 4.65 2.15 4.75 L1.7 4.75 Q0.25 4.55 0.05 3.85"
				fill="#ff0000"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M8.65 3.8 L8.15 3.45 8.0 3.0 Q8.0 1.75 9.55 1.75 10.95 1.75 10.95 2.65 L10.4 3.3 10.25 3.4 9.0 3.85 8.65 3.8 M2.25 3.45 L2.25 3.5 Q2.25 4.0 1.5 4.0 0.85 4.0 0.75 3.5 L0.7 3.35 Q0.7 2.9 1.3 2.9 2.2 2.9 2.25 3.45"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M10.4 3.3 Q12.1 3.3 13.25 2.15 13.75 2.15 13.75 2.75 13.75 4.4 10.2 4.4 8.75 4.4 8.65 3.8 L9.0 3.85 10.25 3.4 10.4 3.3 M2.25 3.45 L2.5 3.75 Q2.5 4.3 1.15 4.3 0.4 4.3 0.5 3.75 0.5 3.55 0.75 3.5 0.85 4.0 1.5 4.0 2.25 4.0 2.25 3.5 L2.25 3.45"
				fill="#ff00ff"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeEye9',
	props: {
		size: Number
	}
});
</script>
