<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${9.4 * size}px`"
		:width="`${30.8 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			:transform="
				`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${10.3 * size}, ${8.85 *
					size})`
			"
		>
			<path
				d="M4.1 -1.2 L5.05 -1.15 Q5.2 -2.3 4.0 -2.25 L2.35 -2.1 1.45 -1.65 0.95 -1.9 1.5 -2.7 Q3.55 -3.45 5.3 -2.2 L5.5 -1.45 5.45 -0.7 5.05 -0.75 4.1 -1.2 M11.15 0.05 L11.15 0.0 Q11.15 -0.8 9.7 -1.05 L8.4 -0.75 7.95 -0.35 9.4 0.05 11.15 0.1 11.55 0.1 11.15 0.05 M19.95 -3.75 L20.0 -3.8 20.3 -3.4 20.5 -2.9 20.5 -2.8 20.35 -2.4 20.35 -2.3 20.05 -1.85 19.35 -1.65 18.8 -1.65 18.35 -1.85 18.1 -2.35 17.95 -2.6 18.0 -2.6 Q18.1 -3.95 19.35 -3.95 L19.95 -3.75 M13.35 -0.7 L13.65 -1.3 Q14.15 -1.95 15.45 -1.95 L16.15 -1.85 16.3 -1.9 16.7 -1.5 16.85 -1.2 16.95 -0.5 Q16.95 -0.25 16.75 -0.2 L16.75 -0.15 16.55 0.15 15.95 0.45 14.95 0.55 13.75 0.35 13.55 0.15 13.45 0.25 Q13.3 -0.05 13.3 -0.25 L13.35 -0.7 M7.3 -0.3 L7.6 -0.95 7.7 -0.95 Q8.25 -1.55 9.85 -1.55 10.7 -1.55 11.25 -1.05 L11.4 -1.05 11.8 -0.4 11.9 -0.1 11.75 -0.1 11.75 0.15 11.65 0.15 Q11.0 0.55 10.15 0.55 8.6 0.55 7.85 0.0 L7.65 0.0 7.5 0.05 7.5 0.0 7.4 -0.3 7.3 -0.3 M18.85 -2.0 L19.05 -2.0 Q19.9 -2.0 20.15 -2.6 L20.15 -2.7 19.95 -2.6 19.95 -2.65 Q20.0 -3.3 19.35 -3.3 18.6 -3.3 18.6 -2.65 18.6 -2.25 18.85 -2.1 L18.75 -2.05 18.7 -2.05 18.85 -2.0 M16.45 -0.6 Q16.45 -1.5 15.2 -1.5 13.65 -1.5 13.6 -0.05 L15.4 0.15 Q16.55 0.0 16.5 -0.3 L16.5 -0.35 16.45 -0.6 M-9.65 -8.05 L-10.25 -8.55 -10.3 -8.75 -10.2 -8.65 -8.75 -8.85 Q-6.25 -8.85 -6.25 -6.65 L-6.7 -5.4 -5.65 -4.7 -4.6 -5.3 -3.0 -5.7 Q-0.4 -5.7 -0.4 -3.2 L-0.45 -2.5 -0.8 -2.45 -1.2 -2.65 -1.1 -3.25 Q-1.1 -5.05 -3.0 -5.05 L-5.1 -4.35 -5.7 -4.6 Q-6.35 -5.25 -6.8 -5.4 -7.55 -5.65 -8.6 -6.95 L-7.2 -5.8 -6.9 -6.65 Q-6.9 -7.1 -7.35 -7.65 -7.8 -8.25 -8.5 -8.3 L-9.05 -8.3 -9.1 -8.25 -9.15 -8.2 -9.05 -8.2 -9.65 -8.05"
				:fill="hairBorderColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M4.1 -1.2 L1.45 -1.65 2.35 -2.1 4.0 -2.25 Q5.2 -2.3 5.05 -1.15 L4.1 -1.2 M11.15 0.1 L9.4 0.05 7.95 -0.35 8.4 -0.75 9.7 -1.05 Q11.15 -0.8 11.15 0.0 L11.15 0.05 11.15 0.1 M16.45 -0.6 L16.5 -0.35 16.5 -0.3 Q16.55 0.0 15.4 0.15 L13.6 -0.05 Q13.65 -1.5 15.2 -1.5 16.45 -1.5 16.45 -0.6 M18.85 -2.1 Q18.6 -2.25 18.6 -2.65 18.6 -3.3 19.35 -3.3 20.0 -3.3 19.95 -2.65 L19.95 -2.6 20.15 -2.7 20.15 -2.6 Q19.9 -2.0 19.05 -2.0 L18.85 -2.0 18.85 -2.1 M-9.65 -8.05 L-9.05 -8.2 -9.1 -8.25 -9.05 -8.2 -9.05 -8.3 -8.5 -8.3 Q-7.8 -8.25 -7.35 -7.65 -6.9 -7.1 -6.9 -6.65 L-7.2 -5.8 -8.6 -6.95 -8.65 -7.0 -8.7 -7.05 -9.15 -7.5 -9.3 -7.65 -9.5 -7.85 -9.65 -8.05 M-5.1 -4.35 L-3.0 -5.05 Q-1.1 -5.05 -1.1 -3.25 L-1.2 -2.65 -1.2 -2.6 Q-2.95 -3.2 -4.25 -3.9 L-5.1 -4.35"
				:fill="hairFirstColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-9.1 -8.25 L-9.05 -8.3 -9.05 -8.2 -9.1 -8.25"
				:fill="hairFirstColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeTailHair0',
	props: {
		size: Number,
		hairFirstColor: String,
		hairBorderColor: String
	}
});
</script>
