<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${14.5 * size}px`"
		:width="`${14.7 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			:transform="
				`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${5.2 * size}, ${5.7 *
					size})`
			"
		>
			<path
				d="M0.85 -3.9 L1.9 -4.05 Q2.6 -4.05 2.6 -3.6 2.6 -3.1 1.85 -2.9 L0.3 -2.5 0.2 -2.45 Q0.95 -1.35 2.05 1.9 L2.15 2.15 Q2.85 3.1 4.25 7.0 5.85 6.25 6.4 4.4 L7.15 1.6 5.85 1.25 Q5.85 0.65 7.8 0.65 9.0 0.65 9.5 1.7 9.5 2.1 9.0 2.1 L7.75 1.75 7.9 3.8 Q7.9 5.15 6.8 6.6 5.1 8.8 1.75 8.8 -0.95 8.8 -2.4 7.55 -3.35 6.75 -3.4 5.9 L-4.8 7.0 -5.15 6.85 -5.2 6.65 Q-5.2 6.3 -4.2 5.25 -3.1 4.05 -2.25 4.05 -1.65 4.05 -1.65 4.45 L-2.8 5.4 -1.75 6.4 Q-0.45 7.45 1.7 7.45 L2.75 7.4 2.25 5.95 2.05 5.5 2.1 5.35 1.25 2.8 -0.7 -2.05 -2.4 -1.3 -2.8 -1.4 -2.85 -1.7 Q-2.85 -2.1 -1.9 -2.7 -2.5 -2.8 -2.65 -3.4 L-2.7 -4.2 Q-2.7 -5.7 -1.1 -5.7 0.4 -5.7 0.85 -4.0 L0.85 -3.9 M-1.75 -4.4 L-1.8 -4.0 Q-1.8 -3.6 -1.15 -3.5 L-0.7 -3.35 -0.15 -3.6 -0.25 -4.05 Q-0.5 -4.75 -1.2 -4.75 -1.65 -4.75 -1.75 -4.4"
				:fill="tattooColor"
				fill-opacity="0.29803923"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeArmTattoo4',
	props: {
		mainFirstColor: String,
		mainSecondColor: String,
		mainThirdColor: String,
		tattooColor: String,
		size: Number
	}
});
</script>
