<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${7.5 * size}px`"
		:width="`${8.4 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			:transform="
				`matrix(${0.8 * size}, 0.0, 0.0, ${1.0 * size}, ${4.2 * size}, ${3.75 *
					size})`
			"
		>
			<path
				d="M2.75 -2.95 L3.5 -2.1 4.1 -1.3 4.2 -0.65 Q4.2 0.6 2.7 2.2 1.25 3.75 0.3 3.75 -0.3 3.45 -0.7 3.45 L-1.75 3.55 Q-2.6 3.55 -2.6 2.85 -2.7 2.5 -3.55 2.1 L-4.2 0.7 Q-4.2 -0.8 -3.0 -2.3 -1.8 -3.75 -0.6 -3.75 L1.2 -3.35 1.55 -3.45 2.75 -2.95 M2.0 -0.45 Q2.0 -2.45 0.5 -2.45 -2.25 -2.45 -2.25 0.3 L-1.5 1.2 Q-0.85 2.0 -0.3 2.0 0.6 2.0 2.3 0.2 L2.0 -0.45"
				fill="#db2424"
				fill-opacity="0.22352941"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M2.0 -0.45 L2.3 0.2 Q0.6 2.0 -0.3 2.0 -0.85 2.0 -1.5 1.2 L-2.25 0.3 Q-2.25 -2.45 0.5 -2.45 2.0 -2.45 2.0 -0.45"
				fill="#a51616"
				fill-opacity="0.4509804"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeRightLegHeavyInjury1',
	props: {
		size: Number
	}
});
</script>
