<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${24.0 * size}px`"
		:width="`${14.1 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			:transform="
				`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${14.45 *
					size}, ${12.3 * size})`
			"
		>
			<path
				d="M-1.85 -11.05 Q-0.05 -11.3 -0.4 -9.7 -0.55 -9.0 -2.65 -7.25 -1.45 -5.9 -1.65 -5.0 L-2.2 -4.0 -1.7 1.35 Q-2.05 2.85 -4.8 6.5 L-8.95 11.7 Q-9.4 11.65 -9.3 11.2 -9.15 10.3 -6.35 6.55 -3.8 2.95 -3.45 1.5 -3.3 0.75 -3.9 -1.4 L-4.15 -1.1 -6.75 2.45 Q-7.3 3.6 -9.9 6.0 -12.25 8.25 -12.85 10.45 L-13.5 10.75 Q-14.7 10.95 -14.4 9.75 -13.9 7.75 -11.65 6.1 -9.25 4.35 -8.2 1.95 L-6.85 0.15 Q-5.8 -1.0 -5.55 -1.75 L-3.95 -5.1 Q-4.35 -6.0 -5.2 -6.55 -5.8 -6.95 -5.65 -7.45 -5.5 -8.25 -4.55 -8.6 L-4.1 -8.8 Q-5.85 -8.85 -5.55 -10.05 -5.3 -11.1 -2.1 -12.3 L-1.4 -12.2 Q-1.4 -11.65 -1.85 -11.05"
				fill="#a61515"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeRightLegHeavyInjury2',
	props: {
		size: Number
	}
});
</script>
