<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${22.85 * size}px`"
		:width="`${50.0 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			:transform="
				`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${25.0 * size}, ${11.4 *
					size})`
			"
		>
			<path
				d="M-9.35 -11.0 L-9.35 -10.9 -9.35 -10.3 Q-9.2 -8.3 -7.7 -6.8 -6.35 -5.4 -4.75 -4.35 -2.85 -3.25 -0.95 -2.35 1.15 -1.4 3.25 -0.75 L6.65 0.0 14.65 0.3 16.05 0.15 16.25 0.1 Q18.4 -0.45 20.5 -1.25 L22.3 -1.9 Q23.15 -2.3 23.85 -2.85 22.1 -1.1 20.0 0.3 18.25 1.3 16.25 1.75 L13.6 2.6 11.9 2.95 8.05 3.15 4.75 2.9 10.0 2.25 12.9 1.65 14.1 1.1 14.15 1.05 Q11.5 1.85 6.45 1.85 0.7 1.85 -3.3 0.55 L-4.1 0.25 -4.75 0.0 Q-7.75 -1.2 -11.45 -3.65 -12.4 -4.3 -15.0 -7.25 -17.35 -10.0 -17.75 -11.1 L-16.7 -11.3 -14.95 -11.4 -9.35 -11.0"
				:fill="mainSecondColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M23.85 -2.85 Q23.15 -2.3 22.3 -1.9 L20.5 -1.25 Q18.4 -0.45 16.25 0.1 L16.05 0.15 14.65 0.3 6.65 0.0 3.25 -0.75 Q1.15 -1.4 -0.95 -2.35 -2.85 -3.25 -4.75 -4.35 -6.35 -5.4 -7.7 -6.8 -9.2 -8.3 -9.35 -10.3 L-9.35 -10.9 -9.35 -11.0 -9.35 -11.4 -9.1 -10.95 -8.2 -9.35 -7.55 -8.5 -7.0 -7.8 -6.6 -7.45 -6.45 -7.25 -6.3 -7.1 -5.85 -6.65 -4.75 -5.7 -3.85 -5.0 -2.65 -4.25 0.0 -3.0 Q2.15 -1.95 4.45 -1.3 L6.65 -0.8 8.7 -0.6 Q11.15 -0.5 13.7 -0.55 L16.25 -0.75 Q19.05 -1.15 21.35 -2.35 L23.85 -3.85 24.75 -3.6 25.0 -3.4 Q24.15 -1.1 22.65 0.85 L20.05 4.1 20.0 4.15 Q15.95 8.65 9.95 10.0 4.95 11.3 -1.4 11.45 -9.7 11.6 -15.55 9.4 -21.5 7.2 -23.55 5.1 L-23.25 5.3 -24.6 4.25 -24.3 4.05 -24.1 4.15 Q-23.85 4.2 -23.35 4.4 L-22.45 5.1 -16.8 7.75 Q-8.45 11.05 2.45 10.25 L10.45 9.05 Q13.55 8.35 16.05 6.45 L18.8 4.1 21.7 0.9 Q22.95 -0.75 23.85 -2.85"
				:fill="borderColor"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M23.85 -2.85 Q22.95 -0.75 21.7 0.9 L18.8 4.1 16.05 6.45 Q13.55 8.35 10.45 9.05 L2.45 10.25 Q-8.45 11.05 -16.8 7.75 L-22.45 5.1 -23.35 4.4 Q-23.85 4.2 -24.1 4.15 L-25.0 0.25 Q-25.0 -9.65 -17.75 -11.1 -17.35 -10.0 -15.0 -7.25 -12.4 -4.3 -11.45 -3.65 -7.75 -1.2 -4.75 0.0 L-4.1 0.25 -3.3 0.55 Q0.7 1.85 6.45 1.85 11.5 1.85 14.15 1.05 L14.1 1.1 12.9 1.65 10.0 2.25 4.75 2.9 8.05 3.15 11.9 2.95 13.6 2.6 16.25 1.75 Q18.25 1.3 20.0 0.3 22.1 -1.1 23.85 -2.85"
				:fill="mainThirdColor"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeTail0',
	props: {
		mainFirstColor: String,
		mainSecondColor: String,
		mainThirdColor: String,
		borderColor: String,
		size: Number
	}
});
</script>
