<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${10.6 * size}px`"
		:width="`${19.45 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			:transform="
				`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${-3.5 *
					size}, ${14.25 * size})`
			"
		>
			<path
				d="M9.8 -11.6 L7.8 -8.6 8.8 -7.85 11.4 -10.85 11.45 -10.75 Q11.45 -10.35 9.45 -7.55 L8.45 -6.15 9.2 -5.65 9.8 -6.4 9.05 -6.95 9.4 -7.4 10.15 -6.85 10.0 -6.65 11.35 -8.3 11.45 -8.25 11.7 -8.05 10.65 -6.55 Q11.3 -6.1 12.05 -5.6 L11.9 -5.3 Q11.2 -5.5 10.3 -6.1 L8.65 -4.35 8.4 -4.55 8.85 -5.2 8.05 -5.65 6.25 -3.65 6.2 -3.85 Q6.2 -4.25 6.85 -5.2 L7.15 -5.7 7.8 -6.55 7.4 -6.05 6.5 -6.65 6.1 -5.95 6.05 -5.9 5.0 -4.15 4.85 -4.1 Q4.55 -4.1 4.55 -4.45 L5.9 -7.05 5.25 -7.55 3.85 -4.85 3.5 -5.0 3.85 -6.1 4.85 -7.85 4.0 -8.45 Q4.1 -8.65 4.4 -8.65 L5.15 -8.35 6.0 -9.75 Q5.1 -10.75 5.1 -11.25 L4.9 -11.7 5.0 -11.7 Q5.25 -11.0 6.15 -10.05 L7.6 -12.45 7.8 -12.2 6.3 -9.5 6.45 -9.75 7.1 -9.2 Q8.8 -12.0 9.45 -12.0 9.8 -12.0 9.8 -11.6 M7.45 -6.9 L7.85 -6.6 8.5 -7.45 7.7 -8.1 7.55 -8.25 6.9 -7.25 7.45 -6.9 M6.9 -8.85 L6.3 -9.45 5.55 -8.1 6.25 -7.7 6.9 -8.85 M9.85 -4.9 L9.35 -5.0 9.6 -5.3 10.0 -5.0 9.85 -4.9"
				fill="#660000"
				fill-opacity="0.29803923"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M18.15 -14.25 L19.95 -13.85 20.3 -13.95 Q20.8 -13.95 21.5 -13.45 L22.25 -12.6 22.85 -11.8 22.95 -11.15 Q22.95 -9.9 21.45 -8.3 20.0 -6.75 19.05 -6.75 L18.05 -7.05 17.0 -6.95 Q16.15 -6.95 16.15 -7.65 16.05 -8.0 15.2 -8.4 L14.55 -9.8 Q14.55 -11.3 15.75 -12.8 16.95 -14.25 18.15 -14.25 M17.25 -9.3 Q17.9 -8.5 18.45 -8.5 19.35 -8.5 21.05 -10.3 L20.75 -10.95 Q20.75 -12.95 19.25 -12.95 16.5 -12.95 16.5 -10.2 L17.25 -9.3"
				fill="#db2424"
				fill-opacity="0.22352941"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M17.25 -9.3 L16.5 -10.2 Q16.5 -12.95 19.25 -12.95 20.75 -12.95 20.75 -10.95 L21.05 -10.3 Q19.35 -8.5 18.45 -8.5 17.9 -8.5 17.25 -9.3"
				fill="#a51616"
				fill-opacity="0.4509804"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeHeadMinorInjury0',
	props: {
		size: Number
	}
});
</script>
