<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${30.9 * size}px`"
		:width="`${26.85 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			:transform="
				`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${-37.85 *
					size}, ${-9.9 * size})`
			"
		>
			<path
				d="M41.5 13.7 Q42.65 13.65 42.95 18.75 L42.8 19.15 42.4 19.35 42.25 19.3 42.2 19.2 Q40.7 15.6 40.7 14.7 40.7 13.65 41.5 13.7 M43.6 21.5 L43.6 21.75 43.6 21.8 43.45 22.1 43.1 22.15 43.0 22.15 42.9 22.05 42.35 21.3 42.3 21.15 42.3 20.85 42.4 20.7 42.55 20.6 42.7 20.55 42.85 20.5 Q43.55 20.45 43.6 21.45 L43.6 21.5"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M49.85 10.5 Q49.85 11.2 47.7 12.45 L47.6 12.45 Q48.05 11.7 49.65 10.2 L49.85 10.5 M47.9 10.85 L45.95 13.1 Q44.65 14.5 43.55 14.85 L45.45 12.3 Q46.55 11.0 47.9 10.85 M45.0 9.9 L45.35 10.05 45.45 10.05 42.9 12.3 42.6 12.1 45.0 9.9 M45.15 11.7 L44.3 13.1 Q43.3 14.25 42.3 14.25 43.55 12.1 44.9 11.4 L45.15 11.7 M47.0 27.15 L46.15 28.8 47.15 29.25 47.3 29.1 47.6 29.4 Q48.95 30.0 49.3 30.35 L49.3 30.45 48.5 30.5 47.35 30.05 47.1 30.4 47.3 30.1 47.9 30.35 48.05 30.8 47.7 30.95 46.75 30.8 45.65 32.05 44.3 33.5 45.35 33.8 45.35 33.9 45.1 34.2 43.7 34.15 42.95 34.8 42.55 34.45 42.8 34.05 41.5 33.8 40.55 34.7 40.3 34.45 40.6 33.65 39.65 33.4 38.75 34.35 38.75 34.15 Q38.75 33.85 39.1 33.25 L39.05 33.25 39.15 33.15 38.75 33.6 38.45 33.35 38.55 33.1 39.5 31.5 37.85 31.05 37.85 30.85 37.85 30.5 38.2 30.45 39.95 30.85 40.6 29.9 40.65 29.85 38.15 29.55 Q38.9 28.9 41.4 28.85 L41.75 28.35 39.5 28.05 39.05 27.9 41.7 27.45 42.4 27.55 43.55 26.25 43.7 26.65 43.25 27.75 43.55 27.85 Q45.25 25.9 45.8 25.5 L44.05 28.0 45.2 28.4 46.75 26.85 47.0 27.15 M46.55 29.8 L45.65 29.45 45.6 29.5 46.55 29.8 M42.85 28.65 L42.7 28.6 41.65 30.0 42.15 29.4 42.85 28.65 M44.8 30.45 L45.2 29.95 43.65 31.7 44.55 31.9 45.75 30.6 44.8 30.45 M42.45 30.1 L42.75 29.65 41.55 31.2 42.35 31.4 43.4 30.25 43.45 30.25 42.45 30.1 M44.5 29.1 L43.45 28.8 43.3 29.0 44.45 29.2 44.5 29.1 M44.0 32.3 L43.15 32.15 42.25 33.05 43.35 33.3 44.2 32.3 44.0 32.3 M41.9 31.95 L41.05 31.8 40.15 32.8 41.1 32.9 41.9 31.95 M41.3 40.7 L41.8 40.6 41.7 40.8 41.3 40.7"
				fill="#660000"
				fill-opacity="0.42352942"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M59.5 33.6 Q62.2 29.85 63.5 29.85 64.35 29.85 64.65 30.15 L64.7 30.3 Q62.65 31.6 59.55 35.7 L56.3 39.85 Q56.8 37.3 59.5 33.6"
				fill="#a61515"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeRightArmMinorInjury0',
	props: {
		size: Number
	}
});
</script>
