<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${33.35 * size}px`"
		:width="`${30.3 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			:transform="
				`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${25.8 *
					size}, ${14.05 * size})`
			"
		>
			<path
				d="M2.9 -11.7 L2.9 -11.4 2.6 -11.3 Q2.25 -11.3 2.25 -11.6 2.25 -12.0 2.65 -12.0 L2.9 -11.7 M3.1 -12.4 Q3.1 -14.05 4.25 -14.05 L4.5 -13.75 Q4.5 -12.75 3.1 -12.4"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-18.95 8.4 L-19.0 8.8 -23.4 11.3 -25.15 13.3 -25.15 12.5 Q-24.25 7.9 -20.85 7.9 L-19.7 8.2 -19.8 8.2 -19.3 8.3 -18.95 8.4 M-19.8 13.2 Q-18.6 11.2 -15.2 11.2 -13.7 11.2 -13.2 12.25 -14.35 12.45 -15.9 13.2 L-19.8 15.25 -19.95 14.65 -19.75 13.5 -19.8 13.2"
				fill="#ffffcc"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-19.05 11.5 Q-17.55 10.45 -14.9 10.45 -12.2 10.45 -12.2 13.45 -12.2 15.7 -14.95 16.7 L-20.4 19.3 Q-21.1 19.3 -21.15 16.15 -21.15 13.75 -20.05 12.4 L-22.35 13.0 Q-22.7 13.1 -25.3 14.6 -25.9 14.6 -25.75 13.25 -25.75 7.15 -20.95 7.15 -18.45 7.15 -18.6 8.5 L-18.9 8.45 -18.95 8.4 -19.3 8.3 -19.7 8.2 -20.85 7.9 Q-24.25 7.9 -25.15 12.5 L-25.15 13.3 -25.15 13.75 Q-21.45 11.9 -19.75 11.6 L-19.15 11.5 -19.1 11.5 -19.05 11.5 M-19.2 10.35 L-19.15 10.4 -19.2 10.45 -20.0 10.8 -23.9 12.6 -23.95 12.4 Q-23.95 11.85 -22.2 11.1 L-20.05 10.4 -19.25 10.3 -19.2 10.35 M-13.2 12.25 Q-13.7 11.2 -15.2 11.2 -18.6 11.2 -19.8 13.2 -20.55 14.35 -20.55 16.15 L-20.3 18.5 -20.25 18.5 Q-20.2 16.65 -15.6 14.7 L-15.5 14.8 -18.95 17.75 -19.25 17.9 -19.0 17.75 Q-17.5 16.95 -15.0 15.9 -12.95 15.05 -12.95 13.5 -12.95 12.75 -13.2 12.25"
				fill="#a36a6a"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-19.0 8.8 L-19.2 9.95 -19.25 10.0 -19.2 10.35 -19.25 10.3 -20.05 10.4 -22.2 11.1 Q-23.95 11.85 -23.95 12.4 L-23.9 12.6 -20.0 10.8 -19.2 10.45 -19.05 11.25 -19.05 11.5 -19.1 11.5 -19.15 11.5 -19.75 11.6 Q-21.45 11.9 -25.15 13.75 L-25.15 13.3 -23.4 11.3 -19.0 8.8 M-19.8 13.2 L-19.75 13.5 -19.95 14.65 -19.8 15.25 -15.9 13.2 Q-14.35 12.45 -13.2 12.25 -12.95 12.75 -12.95 13.5 -12.95 15.05 -15.0 15.9 -17.5 16.95 -19.0 17.75 L-18.95 17.75 -15.5 14.8 -15.6 14.7 Q-20.2 16.65 -20.25 18.5 L-20.3 18.5 -20.55 16.15 Q-20.55 14.35 -19.8 13.2"
				fill="#e0cca3"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeLeftLegNail0',
	props: {
		mainFirstColor: String,
		mainSecondColor: String,
		mainThirdColor: String,
		size: Number
	}
});
</script>
