<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${35.5 * size}px`"
		:width="`${13.5 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			:transform="
				`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${4.6 * size}, ${32.9 *
					size})`
			"
		>
			<path
				d="M3.05 -31.55 Q1.85 -29.1 0.95 -26.55 L0.9 -26.35 0.3 -24.25 -1.55 -16.7 Q-2.3 -18.45 0.45 -26.5 L0.9 -27.8 0.9 -27.85 1.35 -29.0 1.7 -29.95 3.05 -31.55 M-3.0 -3.7 L-2.4 -0.25 -2.4 -0.2 -2.3 0.15 -2.3 -0.25 -2.1 -2.9 -1.8 -3.7 -1.7 -3.65 -1.75 1.3 -1.7 1.25 -1.45 0.9 -1.1 0.05 Q-0.6 -1.35 -0.05 -4.85 L0.5 -8.5 Q1.35 -15.0 3.0 -19.9 L6.65 -28.95 6.8 -29.4 7.3 -30.65 7.7 -31.75 8.9 -31.4 7.25 -27.5 4.25 -20.25 Q2.35 -14.7 1.5 -8.25 L0.95 -4.55 0.05 0.05 Q-0.95 2.95 -2.15 2.55 -4.05 1.9 -4.55 -6.35 L-4.55 -6.4 Q-4.75 -11.5 -4.25 -14.4 L-3.05 -22.55 -1.15 -25.55 -2.6 -19.4 Q-3.8 -12.35 -3.25 -5.95 L-3.0 -3.7 M3.5 -22.3 L1.55 -16.95 Q1.0 -15.4 -0.45 -5.9 -1.2 -10.35 1.1 -17.1 2.35 -20.85 3.5 -22.3"
				fill="#a36a6a"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M6.25 -32.2 L6.5 -31.8 7.3 -30.65 6.8 -29.4 6.65 -28.95 3.0 -19.9 Q1.35 -15.0 0.5 -8.5 L-0.05 -4.85 Q-0.6 -1.35 -1.1 0.05 L-1.45 0.9 -1.7 1.25 -1.75 1.3 -1.7 -3.65 -1.8 -3.7 -2.1 -2.9 -2.3 -0.25 -2.4 -0.25 -3.0 -3.7 -3.15 -5.9 Q-3.25 -9.25 -2.95 -11.3 L-2.55 -11.35 -2.05 -9.25 Q-1.3 -15.8 -0.05 -19.4 0.85 -22.15 4.45 -29.95 L4.7 -30.75 4.15 -29.9 1.1 -25.25 0.65 -24.3 0.3 -24.25 0.9 -26.35 0.95 -26.55 Q1.85 -29.1 3.05 -31.55 L4.2 -32.9 6.25 -32.2 M0.9 -27.85 L0.9 -28.2 1.35 -29.0 0.9 -27.85 M3.5 -22.3 Q2.35 -20.85 1.1 -17.1 -1.2 -10.35 -0.45 -5.9 1.0 -15.4 1.55 -16.95 L3.5 -22.3"
				fill="#e0cca3"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M0.3 -24.25 L0.65 -24.3 1.1 -25.25 4.15 -29.9 4.7 -30.75 4.45 -29.95 Q0.85 -22.15 -0.05 -19.4 -1.3 -15.8 -2.05 -9.25 L-2.55 -11.35 -2.95 -11.3 Q-3.25 -9.25 -3.15 -5.9 L-3.0 -3.7 -3.25 -5.95 Q-3.8 -12.35 -2.6 -19.4 L-1.15 -25.55 0.9 -28.95 1.7 -29.95 1.35 -29.0 0.9 -28.2 0.9 -27.85 0.9 -27.8 0.45 -26.5 Q-2.3 -18.45 -1.55 -16.7 L0.3 -24.25"
				fill="#ffffcc"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M7.3 -30.65 L6.5 -31.8 6.25 -32.2 7.05 -31.95 7.7 -31.75 7.3 -30.65 M-2.4 -0.25 L-2.3 -0.25 -2.4 -0.2 -2.4 -0.25"
				fill="#e0cbcb"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeLeftArmSpecial2',
	props: {
		mainFirstColor: String,
		mainSecondColor: String,
		mainThirdColor: String,
		size: Number
	}
});
</script>
