<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${38.8 * size}px`"
		:width="`${10.8 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			:transform="
				`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${5.4 * size}, ${19.4 *
					size})`
			"
		>
			<path
				d="M2.6 -17.3 L3.1 -17.3 3.85 -17.35 3.45 -12.1 Q2.9 -6.05 2.9 -4.25 2.9 1.6 4.15 8.0 L4.85 11.7 5.4 16.35 Q5.4 19.4 4.1 19.4 2.1 19.4 -1.0 11.75 L-1.0 11.7 Q-2.8 6.95 -3.3 4.0 -5.4 -6.35 -5.4 -11.5 -5.4 -16.75 -5.1 -19.15 L-5.25 -19.4 -3.2 -18.6 -2.8 -18.4 Q-2.9 -18.05 -3.35 -18.05 L-3.9 -18.1 -3.95 -17.65 -4.0 -17.25 -4.4 -15.05 Q-3.75 -4.15 -3.3 -1.25 -2.2 5.85 0.35 11.7 L1.3 13.75 3.0 16.85 3.0 16.9 3.2 17.2 3.1 16.8 2.45 14.2 2.45 13.4 2.6 13.4 4.1 18.1 4.15 18.05 4.3 17.65 4.3 17.6 4.35 16.7 Q4.35 15.2 3.75 11.7 L3.1 8.1 Q1.85 1.65 1.85 -3.55 L2.4 -13.3 2.45 -13.75 2.5 -15.05 2.6 -17.3 M-2.1 -6.8 L-1.45 0.95 Q-2.7 -0.45 -2.7 -8.95 L-2.65 -10.35 -2.65 -10.4 -2.65 -11.65 Q-2.5 -14.9 -2.0 -16.35 L-1.5 -17.3 -1.45 -17.35 -1.3 -17.5 -1.35 -17.25 -1.45 -16.65 -1.6 -16.0 Q-2.2 -12.55 -2.2 -9.15 L-2.2 -9.0 -2.1 -6.8 M1.55 -5.95 L1.4 -0.25 Q1.4 1.4 3.05 10.85 0.95 6.9 0.95 -0.25 0.95 -4.2 1.55 -5.95"
				fill="#a36a6a"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-1.4 -17.9 L2.6 -17.3 2.5 -15.05 1.4 -15.9 0.95 -16.25 0.3 -16.7 -0.1 -17.0 -0.35 -17.2 -0.4 -17.2 -1.05 -17.65 -1.4 -17.9 M3.0 16.9 L3.0 16.85 3.1 16.8 3.0 16.9 M-1.45 -16.65 L-1.55 -16.0 -1.6 -16.0 -1.45 -16.65"
				fill="#e0cbcb"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M2.5 -15.05 L2.45 -13.75 2.4 -13.3 1.85 -3.55 Q1.85 1.65 3.1 8.1 L3.75 11.7 Q4.35 15.2 4.35 16.7 L4.3 17.6 4.3 17.65 4.15 18.05 4.1 18.1 2.6 13.4 2.45 13.4 2.45 14.2 3.1 16.8 3.0 16.85 1.3 13.75 0.5 11.7 Q-0.7 8.6 -1.05 6.55 L-0.7 6.35 0.45 8.2 Q-0.9 1.75 -0.9 -2.1 -0.9 -5.0 0.0 -13.55 L0.0 -14.35 -0.25 -13.4 -1.65 -8.0 -1.8 -6.95 -2.1 -6.8 -2.2 -9.0 -2.2 -9.15 Q-2.2 -12.55 -1.6 -16.0 L-1.55 -16.0 -1.45 -16.65 -1.35 -17.25 -1.3 -17.5 -1.45 -17.35 -1.5 -17.3 -1.35 -17.85 -1.05 -17.65 -0.4 -17.2 -0.35 -17.2 -0.1 -17.0 0.3 -16.7 0.95 -16.25 1.4 -15.9 2.5 -15.05 M-2.65 -10.4 L-2.8 -10.75 -2.65 -11.65 -2.65 -10.4 M1.55 -5.95 Q0.95 -4.2 0.95 -0.25 0.95 6.9 3.05 10.85 1.4 1.4 1.4 -0.25 L1.55 -5.95"
				fill="#e0cca3"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-2.8 -18.4 L-1.4 -17.9 -1.05 -17.65 -1.35 -17.85 -1.5 -17.3 -2.0 -16.35 Q-2.5 -14.9 -2.65 -11.65 L-2.8 -10.75 -2.65 -10.4 -2.65 -10.35 -2.7 -8.95 Q-2.7 -0.45 -1.45 0.95 L-2.1 -6.8 -1.8 -6.95 -1.65 -8.0 -0.25 -13.4 0.0 -14.35 0.0 -13.55 Q-0.9 -5.0 -0.9 -2.1 -0.9 1.75 0.45 8.2 L-0.7 6.35 -1.05 6.55 Q-0.7 8.6 0.5 11.7 L1.3 13.75 0.35 11.7 Q-2.2 5.85 -3.3 -1.25 -3.75 -4.15 -4.4 -15.05 L-4.0 -17.25 -3.95 -17.65 -3.9 -18.1 -3.35 -18.05 Q-2.9 -18.05 -2.8 -18.4"
				fill="#ffffcc"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeLeftArmSpecial3',
	props: {
		mainFirstColor: String,
		mainSecondColor: String,
		mainThirdColor: String,
		size: Number
	}
});
</script>
