<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${9.0 * size}px`"
		:width="`${8.15 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			:transform="
				`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${-13.8 *
					size}, ${13.1 * size})`
			"
		>
			<path
				d="M15.75 -7.85 L15.6 -7.95 15.7 -7.8 15.65 -7.75 15.65 -7.7 15.9 -7.85 16.95 -8.65 18.1 -9.8 20.25 -11.05 17.8 -5.3 18.3 -4.95 18.2 -4.55 Q16.2 -5.1 14.75 -7.4 L14.3 -8.15 15.3 -8.9 Q19.35 -11.85 20.55 -12.25 L20.5 -12.2 Q19.35 -11.7 16.45 -8.8 L15.75 -7.85"
				fill="#ffffcc"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M15.7 -7.8 L15.75 -7.85 16.45 -8.8 Q19.35 -11.7 20.5 -12.2 L20.55 -12.25 Q19.35 -11.85 15.3 -8.9 L14.3 -8.15 13.8 -7.8 Q13.65 -8.3 14.9 -9.55 20.65 -14.4 21.8 -12.65 22.05 -12.2 21.85 -8.15 L21.8 -6.1 21.8 -6.05 21.8 -5.9 21.65 -4.2 21.3 -4.25 21.25 -4.85 21.15 -5.9 21.1 -6.2 20.8 -10.7 20.6 -10.1 20.0 -7.85 19.95 -7.8 19.85 -7.8 Q19.65 -8.15 20.0 -9.75 L20.25 -11.05 18.1 -9.8 16.95 -8.65 15.9 -7.85 15.65 -7.7 15.65 -7.75 15.7 -7.8"
				fill="#a36a6a"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M20.25 -11.05 L20.0 -9.75 Q19.65 -8.15 19.85 -7.8 L19.95 -7.8 20.0 -7.85 20.6 -10.1 20.8 -10.7 21.1 -6.2 21.15 -5.9 21.25 -4.85 Q20.25 -4.15 18.75 -4.45 L18.2 -4.55 18.3 -4.95 17.8 -5.3 20.25 -11.05"
				fill="#e0cca3"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeLeftArmSpecial4',
	props: {
		size: Number
	}
});
</script>
