<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${7.05 * size}px`"
		:width="`${4.0 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			:transform="
				`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${16.05 *
					size}, ${14.65 * size})`
			"
		>
			<path
				d="M-12.05 -14.35 Q-12.05 -14.1 -13.0 -12.55 -14.05 -10.95 -14.65 -10.4 L-14.9 -10.65 Q-13.6 -14.65 -12.4 -14.65 -12.05 -14.65 -12.05 -14.35 M-15.45 -9.15 L-15.05 -8.7 Q-15.05 -7.6 -15.7 -7.6 L-16.0 -7.7 -16.05 -7.9 Q-16.05 -9.15 -15.45 -9.15"
				fill="#ffffff"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeLeftArmSpecial5',
	props: {
		size: Number
	}
});
</script>
