<template>
	<svg
		xmlns:xlink="http://www.w3.org/1999/xlink"
		:height="`${46.25 * size}px`"
		:width="`${23.4 * size}px`"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			:transform="
				`matrix(${1.0 * size}, 0.0, 0.0, ${1.0 * size}, ${22.5 *
					size}, ${20.55 * size})`
			"
		>
			<path
				d="M-1.65 9.8 L-2.7 12.25 -1.8 13.75 Q-0.9 14.95 -0.9 15.5 -0.9 17.3 -1.95 18.2 -3.0 19.1 -3.0 20.95 L-2.6 23.25 Q-2.6 25.7 -4.65 25.7 -5.3 25.7 -5.55 25.25 -3.55 24.25 -3.75 20.9 L-2.55 16.5 Q-2.55 15.65 -3.45 14.7 -4.4 13.75 -4.4 12.55 -3.75 9.2 -2.15 9.2 -1.7 9.2 -1.65 9.8 M-16.4 4.4 L-15.9 5.25 Q-15.9 5.55 -16.6 6.2 -17.4 6.9 -18.15 6.95 L-18.35 7.05 Q-17.8 7.15 -17.55 7.65 L-17.4 8.2 -18.05 10.6 -17.25 12.6 Q-17.25 13.9 -17.9 14.95 -17.9 16.0 -16.7 19.05 L-16.8 19.5 -17.0 19.55 Q-17.8 19.55 -19.05 15.65 L-18.3 12.65 Q-19.5 11.3 -19.5 10.3 L-18.9 8.25 Q-19.8 8.2 -19.8 7.65 -19.25 6.9 -19.25 6.35 -19.25 5.1 -17.7 5.1 L-16.4 4.4"
				fill="#a61515"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M0.9 -19.05 Q0.9 -18.15 -0.45 -15.45 L-0.65 -15.35 -0.95 -15.75 -0.35 -17.7 Q0.3 -19.25 0.6 -19.4 L0.9 -19.05 M-0.05 -19.95 Q-0.05 -19.2 -0.8 -17.35 -1.55 -15.45 -2.0 -15.15 L-2.15 -15.2 Q-2.1 -16.3 -0.45 -20.55 L-0.05 -19.95 M-5.85 -17.85 Q-5.85 -17.55 -7.75 -15.55 L-7.25 -15.45 -7.2 -15.3 Q-7.2 -15.0 -7.5 -15.0 L-8.25 -15.05 -9.3 -14.0 -8.4 -13.85 -9.55 -13.75 Q-10.95 -12.5 -11.7 -12.2 L-10.75 -13.65 -11.5 -13.6 -13.5 -11.6 -13.7 -11.9 -12.6 -13.55 -13.4 -13.5 -13.6 -13.5 -15.9 -10.95 -16.25 -11.4 -14.55 -13.6 -15.6 -13.85 -15.6 -14.1 -14.1 -14.1 -12.7 -15.7 -13.95 -15.95 -14.0 -16.35 Q-13.95 -16.55 -13.55 -16.55 L-12.1 -16.3 Q-10.8 -17.55 -9.9 -17.85 L-11.3 -16.15 -10.15 -15.95 -8.85 -17.1 Q-8.7 -17.2 -8.7 -16.8 -8.7 -16.65 -9.4 -15.8 L-8.95 -15.75 -6.0 -18.05 Q-5.85 -18.25 -5.85 -17.85 M-9.95 -15.25 L-11.0 -14.15 -10.4 -14.15 -9.5 -15.2 -9.95 -15.25 M-10.75 -15.35 L-11.8 -15.55 -13.05 -14.1 -12.05 -14.1 -10.75 -15.35"
				fill="#660000"
				fill-opacity="0.5921569"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-18.9 -3.95 Q-18.55 -3.95 -17.1 -3.15 L-16.75 -3.35 Q-16.25 -3.35 -15.55 -2.35 -14.85 -1.4 -14.8 -0.6 -14.35 0.2 -14.2 1.05 L-14.1 2.35 Q-14.1 4.9 -15.6 8.15 -17.05 11.35 -18.0 11.35 L-19.0 10.7 -20.05 10.9 Q-20.9 10.9 -20.9 9.5 -21.0 8.8 -21.85 7.95 L-22.5 5.1 Q-22.5 2.05 -21.3 -1.0 -20.1 -3.95 -18.9 -3.95 M-19.8 6.15 Q-19.15 7.75 -18.6 7.75 -17.7 7.75 -16.0 4.1 L-16.3 2.75 Q-16.3 -1.3 -17.8 -1.3 -20.55 -1.3 -20.55 4.3 L-19.8 6.15"
				fill="#db2424"
				fill-opacity="0.22352941"
				fill-rule="evenodd"
				stroke="none"
			/>
			<path
				d="M-19.8 6.15 L-20.55 4.3 Q-20.55 -1.3 -17.8 -1.3 -16.3 -1.3 -16.3 2.75 L-16.0 4.1 Q-17.7 7.75 -18.6 7.75 -19.15 7.75 -19.8 6.15"
				fill="#a51616"
				fill-opacity="0.4509804"
				fill-rule="evenodd"
				stroke="none"
			/>
		</g>
	</svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
	name: 'MoueffeLeftArmHeavyInjury0',
	props: {
		size: Number
	}
});
</script>
